[2016-05-11 08:35] Saulis opened #2 "Event Listeners should be registered outside Angular"
In an Angular 2 app, `zone.js` basically polyfills/overrides native functions like `addEventListener`, `setTimeout` etc.

When event listeners are added using `addEventListener` function, they get registered in the `zone.js` and effectively are used to detect changes inside the app.

In practice, components like `vaadin-grid` and `vaadin-combo-box` listen to `scroll` event, therefore scrolling the

[2016-05-21 18:48] harshabonthu opened #7 "Unit Tests Failing"
Thanks a lot for the work on integration, I think it looks good to use polymer based components in Angular.

I am trying to integrate polymer using your package in a sample project generated with angular-cli and was able to do it without much trouble. When I try to run the unit tests using `ng test`, I see the below error. Not sure if I am missing anything, I've uploaded the code here https://gith

[2016-05-23 09:37] platosha opened #8 "User Testing"
The first priority is to test if the tutorial can be followed end completed by developers. I.e., test for the functionality first.

The “feels at home” experience testing is the second priority.

[2016-05-24 07:03] platosha opened #9 "Make Angular 2 to use Polymer.dom accesors"

[2016-05-24 07:06] platosha opened #10 "API documentation"

[2016-05-24 07:15] platosha opened #11 "Split up, refactor, polish the code"

[2016-05-24 22:17] manolo commented on #7
I have double checked the project and everything seems working ok in my environment, I have run:

[code]

I got in my browser the message: `19 specs, 0 failures`
Note that you have to run `npm test` instead of `ng test`

[2016-05-24 22:23] manolo commented on #9
Could you elaborate a bit more. Where and why  do we need these accessors ?

[2016-05-25 04:34] harshabonthu commented on #7
@manolo Thanks for looking into this. You are running the tests from `angular2-polymer` package but the issue actually occurs when I try to integrate `angular2-polymer` to a sample project created using angular-cli and try `ng test`.

I created a sample angular2 project using angular-cli and then followed the tutorial to integrate `angular2-polymer`. These are the integration changes I made -> htt

[2016-05-25 06:46] platosha commented on #9
The change is prepared in this branch: https://github.com/vaadin/angular2-polymer/tree/feature/polymer-dom-adapter

We need to rebase it, test and turn into a PR.

[2016-05-25 14:11] platosha opened #13 "Update README, LICENSE and Overfiew"
- Follow the structure of core elements README files
- Add quick usage example
- Link the tutorial in the Getting Started section
- Contributing, Development, and License sections
- **Add badges**

[2016-05-25 15:14] manolo commented on #7
@harshabonthu, what is your ng-cli version, the structure I get with latest is very different to your project.
Also when I run your project with latest, I don't get that error but a different one.
Seems like in test, polymer dependencies are not being imported.

[2016-05-25 22:09] manolo commented on #7
@harshabonthu, finally I figured out what was happening. The problem is that polymer elements are not loaded in test because it does not uses index.html.
I have created a project like yours using latest ng2-cli and added a script to load components when running tests.
The script assumes that all polymer imports are in an elements.html file instead of in the index.html, so as both index.html and ka

[2016-05-25 22:21] manolo commented on #7
@harshabonthu sent a PR [1] to your project which fixes tests. Let me know if it works for you.
We are considering to include some info in the directive documentation.

[1] https://github.com/harshabonthu/angular2-polymer-integration/pull/1

[2016-05-26 04:31] harshabonthu commented on #7
@manolo Weird.. I tried on my repo with PR merged in and also your sample project i.e manolo/ng2-cli-polymer-app and I get the same error as before.

Screencast on my repo -> http://recordit.co/gLdfrkr6jk
Screencast on your repo -> http://recordit.co/vkGJF01Sen

Angular-cli version is
`angular-cli: 1.0.0-beta.5
node: 5.8.0
os: darwin x64`

Currently I am trying to do integration with angular2-seed

[2016-05-26 09:31] manolo commented on #7
@harshabonthu Could you try latest PR sent to your project?
Also my project has the same fix.

[2016-05-26 13:14] harshabonthu commented on #7
@manolo Latest fix works, Thanks a lot for looking into this.

[2016-05-26 13:25] manolo commented on #7
@harshabonthu we will maintain this issue opened until we document correctly the issue. Thanks for testing this stuff and your feedback.

[2016-05-26 13:42] manolo opened #15 "Document how use elements with ng-cli"
Connected to #7

[2016-05-27 12:38] #9 closed, assigned to platosha

[2016-05-30 05:50] #15 closed, assigned to manolo

[2016-06-02 08:01] #13 closed, assigned to nobody

[2016-06-02 08:01] #10 closed, assigned to nobody

[2016-06-02 08:02] #7 closed, assigned to nobody

[2016-06-02 09:45] manolo commented on #8
Assigning @marlonrichert who is in charge of User testing right now.

Tutorial is live in github through this URL:

https://github.com/vaadin/angular2-polymer/blob/master/docs/tutorial.adoc

[2016-06-03 08:23] platosha opened #18 "Vaadin Charts are broken"

[2016-06-03 10:52] manolo commented on #18
A problem with the charts version, the have not yet released beta3 with the fix for the charts.readOnly flag. Using #master branch everything works

[2016-06-03 10:52] #18 closed, assigned to nobody

[2016-06-05 07:28] kjdevocht opened #19 "vaadin date picker throwing Unhandled Promise rejection: TypeError: Cannot read property 'indexOf' of undefined"
When I try and use the vaadin-date-picker as a directive in a component decorator, I get the following error. "Unhandled Promise rejection: TypeError: Cannot read property 'indexOf' of undefined" my component.ts file looks like this
`import { Component } from '@angular/core';
import { PolymerElement } from '@vaadin/angular2-polymer';

@Component({
  moduleId: module.id,
  selector: 'polymer-test-a

[2016-06-08 06:10] jouni commented on #8
Angular 2 + Polymer usability test recording + observations now here: https://drive.google.com/drive/folders/0B2ikCcK6RPA0WkVubFFyQjlyR0U

[2016-06-10 15:56] manolo opened #20 "Angular CLI doc wrong in the docs site because double curly brackets"

[2016-06-10 16:06] manolo opened #21 "Add Support for Angular-CLI"
- If the user installs the directive using `ng install angular2-polymer` everything in the project should be set to use the elements.
- Additionally we could add some kind of support for scaffolding.
- Everything should be set for vulcanizing when running `ng build`

[2016-06-14 22:39] pedrocortizo opened #22 "Vaadin components fail with Brocoli"
When I install vaadin-elements like vaadin-grid the build returns an error

[code]

Any solution to exclude the demo files of vaadin components, in order to use vaadin components propertly

Great job, greetings from Spain

[2016-06-15 11:32] sixrandanes opened #23 "karma error with directive angular2-polymer"
Hello,

I am facing an issue when I run my unit tests with karma on my project (angular-cli) with your directive.

15 06 2016 22:07:42.655:INFO [Chrome 51.0.2704 (Linux 0.0.0)]: Connected on socket /#nUTDqFlz7Z3B1E5WAAAA with id 90236010
Missing error handler on `socket`.
TypeError: (msg || "").replace is not a function
at /home/dev/angular2-polymer-integration/node_modules/karma/lib/reporter.js:4

[2016-06-15 11:43] Saulis commented on #22
Hi!

Please use `1.1.x` version of `<vaadin-grid>` for Angular 2, preferably latest which is `1.1.0-beta4`

[2016-06-15 12:40] Saulis commented on #23
Hi!

Looks like the documentation is incomplete. It lacks things like appending imports for the polymer elements (mentioned by @manolo here: https://github.com/manolo/ng2-cli-polymer-app/commit/e26b4b62728f9d6972ce20c8a1b9ff4a7518ba7c), but also it looks like the tests start running before the elements get upgraded.

I need to look more deeper into this.

[2016-06-15 18:30] TCMiranda commented on #19
Same problem here.
Appeared with `PolymerElement('vaadin-upload'),` at first.

This is the line reported:

[code]

I am using webpack with ts loader.

Thanks!

[2016-06-15 18:38] TCMiranda commented on #19
Ok... The problem occurs when the `PolymerElement` is called with a normal element. Not a polymer one.

So my solution was fix an html import for vaadin-upload.

The error should be more friendly though.
This is closed. Thanks!

[2016-06-15 22:25] sixrandanes commented on #23
Hi,

Here is my karma.conf.js :

[code]

I have already included the polyphills webcomponents.js and the elements.html which include all the import from polymer as well.

I was wondering if we shouldn't add  the file polymer-element.js  to do something like that :

[code]

I also tried with PhantomJS and got the same problem.

[2016-06-15 22:47] sixrandanes commented on #23
It's weird...

I downloaded the projet from @manolo [manolo/ng2-cli-polymer-app](url) and seem like the process is not reproductible :

Sometimes the tests are running properly ... and sometimes facing the same issue....

Maybe there is something to do in the way the files are loaded.

[2016-06-15 23:04] sixrandanes commented on #23
The console from the browser via karma gives me that error :

karma.js:87 Potentially unhandled rejection [4] TypeError: this.complete is not a function
    at Karma.error (http://localhost:9876/karma.js:133:10)

hope it helps.

[2016-06-16 06:08] #8 closed, assigned to marlonrichert

[2016-06-16 07:32] tehapo opened #24 "Compilation errors with Angular 2.0.0-rc.2"
Trying to compile `angular2-polymer` against the latest RC of Angular 2, we get following compilation errors.

[code]

[2016-06-16 08:23] Saulis commented on #23
For Chrome, it seems that just making sure the custom elements are imported before anything else fixes the issue. But still not fast enough for polyfilled browsers.

[code]

[2016-06-16 09:49] sixrandanes commented on #23
Thanks @Saulis for your quick answer.

It works fine for me with Chrome when I remove the polyphills and import the custom elements first.
But still have the same problem with the ployfilled browsers (like Phantomjs@2.1.1).

Any idea about how to optimize the imports ?

Maybe, its not really anymore an issue related to Vaadin and has more to do with karma-phantomjs-launcher ?

[2016-06-16 12:19] manolo commented on #23
The problem in non chrome browsers is that elements are imported asynchronously.
Angular2-polymer cannot be instantiated asynchronously, so there is no easy way to run karma tests in non chrome browsers using karma configuration mechanism.

I did some research how to override the karma template `static/context.html` used in the test-iframe, but not found any solution to wrap the `window.__karma__.

[2016-06-16 12:38] #24 closed, assigned to tehapo

[2016-06-16 22:33] pedrocortizo commented on #22
Works perfect. Thanks for the quick response @Saulis

[2016-06-16 22:33] #22 closed, assigned to nobody

[2016-06-19 01:07] Splaktar opened #26 "feat(app-shell): it would be nice to work with app-shell and ng new --mobile"
There are issues when using this with a [Mobile Toolkit](https://mobile.angular.io/) project, specifically with [app-shell](https://github.com/angular/mobile-toolkit/tree/master/app-shell) by @mgechev.
You can find the docs to create one of these projects with the angular-cli [here](https://github.com/angular/mobile-toolkit/blob/master/guides/cli-setup.md).

Everything works fine up until you try

[2016-06-20 02:14] Splaktar opened #27 "UX: Improve "Cannot read property 'forEach' of undefined" error msg"
Currently the output of `Cannot read property 'forEach' of undefined` is really hard for beginners to diagnose. This can be caused by a number of things and it would be nice to either have the docs cover it or to improve the error message.

Causes
- When passing in invalid components to PolymerElement like `PolymerElement('thanks-vaadin')`
- Not importing the component via something like `<link re

[2016-06-20 08:28] Saulis commented on #23
Looks like the `karma-test-shim.js` that ships with the CLI alter clears the `window.__karma__.loaded()` and calls `window.__karma__start()` manually after system imports have been done. I was able to inject listener to wait for `WebComponentsReady` there and everything seems to be working nicely.

I'll try to come up with a nicely packaged solution for this.

[2016-06-20 09:05] Saulis commented on #23
Couldn't find a feasible way to extend the current shim, so it might be easiest just to modify the vanilla shim. You can either wrap the whole import section inside an event listener that listens to `WebComponentsReady` or use promises like in the example below. Key thing here is that `WebComponentsReady` has to be fired before the Angular2 app module import begins.

[code]

[2016-06-20 11:51] manolo commented on #27
Yes, the component should be registered before using it.
Any error like bad element name or import not run yet would produce this output.
We still have to work to give more accurate errors to the user.

[2016-06-20 18:31] evertonrobertoauler opened #28 "Production Mode"
Hey there,

This is an awesome Angular 2 & Polymer integration, in developer mode it works just fine, but when I tried to use it in production mode, using this repository https://github.com/vaadin-marcus/angular2-polymer-tutorial, it didn't work well:

ng serve -prod

404 http://localhost:4200/bower_components/webcomponentsjs/webcomponents-lite.js Failed to load resource: the server responded with

[2016-06-21 07:05] Saulis commented on #23
Sent a PR to https://github.com/angular/angular-cli/pull/1154, if that gets approved, we can ship `angular2-polymer` with a script file that overrides `karma.loaded` to wait for `WebComponentsReady`

[2016-06-21 17:02] nishantgirbar opened #30 "Cannot read property 'indexOf' of undefined"
When i am trying to use polymer component i am getting below issue:
![polymerexception](https://cloud.githubusercontent.com/assets/18031306/16238908/0eb0eed2-3800-11e6-85cd-8319f2d3cb92.PNG)

TypeError: Cannot read property 'indexOf' of undefined
        at Object.PolymerElement (http://localhost:8080/node_modules/@vaadin/angular2-polymer/src/polymer-element.js:70:86)

[2016-06-22 06:15] Splaktar commented on #28
I get this with `ng serve --prod`:

[code]

Then if I run it again, it doesn't throw an exception in the CLI, but I get these exceptions in the browser:

[code]

[2016-06-22 19:36] Splaktar commented on #28
This appears to be related to https://github.com/angular/angular-cli/issues/540
which is fixed in https://github.com/angular/angular-cli/pull/1129 but hasn't been merged yet.

[2016-06-22 19:58] Splaktar commented on #28
I am currently working around this via the following until the above PR gets merged:

[code]

[2016-06-23 06:07] components-stalker commented on #23
Moved away from review, since it depends on another ticket that won't be done any time now. Waiting for ng-cli to progress further.

[2016-06-23 06:55] platosha commented on #30
Hi, I believe it’s a known issue.

The reason is that the Polymer element has not been registered yet at the moment when `PolymerElement('element-name')` is called in your Angular 2 component. It is required to have your Polymer elements loaded and registered before the Angular 2 application is imported.

This is why we advise to import Polymer elements in the `<head>` section of the index.html fi

[2016-06-23 06:55] #30 closed, assigned to nobody

[2016-06-23 20:39] aptuzz opened #32 "Webpack configuration example"
Hello,

any hints on how to set-up the project with Webpack?
I'm struggling to find the equivalent of

[code]

to ensure the load order.

[2016-06-24 17:21] evertonrobertoauler opened #33 "Production Mode + Vulcanize"
Hey there,

I forked the https://github.com/vaadin-marcus/angular2-polymer-tutorial repository, and did some optimizations using gulp tasks:

https://github.com/evertonrobertoauler/angular2-polymer-tutorial

https://github.com/vaadin-marcus/angular2-polymer-tutorial/issues/2

I'm interested in help to improve this idea, I didn't found a way to build a plugin for the angular-cli yet, but as son i f

[2016-06-27 07:27] #27 closed, assigned to platosha

[2016-06-27 10:00] platosha commented on #33
Hi! Thanks for investigating this.

I’ve noticed that you added `bower_components/vaadin-grid/vaadin-grid.min.js` to polyfills list in the `angular-cli-build.js` file. It might be not acceptable that for every element with external scripts they should be included manually. Could it be avoided?

[2016-06-27 11:52] platosha commented on #19
This error appears if the element `'element-name'` has not been imported at the moment when `PolymerElement('element-name')` is called. Most probably caused by incorrect or missing HTML imports.

The error message was improved by PR #31.

[2016-06-27 11:52] #19 closed, assigned to nobody

[2016-06-27 14:03] platosha commented on #20
This should be fixed in the docs website.  Solution: update 'jekyll-asciidoc' gem plugin to the master version. See vaadin/vaadin-docs#46

[2016-06-27 16:29] Splaktar commented on #26
Looks like it might be possible to use something similar to angular-universal's `DomAdapter` instead of `window`. From comment here: https://github.com/angular/universal/issues/445#issuecomment-228610263

[2016-06-28 06:05] santiago-elustondo opened #34 "Parent polymer elements dont seem to react to change in children."
**tldr:** When children of paper-dropdown-menu are updated by Angular, the parent does not reload or react to the change. The "selected" option does not bind to the new items, for example, unless we  update it as well. **The example code is available here: https://github.com/dirtysanchez69/issue-angular2-polymer**

Say I have a paper-dropdown-menu, as such (this works fine):

[code]

In this case,

[2016-06-28 13:14] platosha commented on #34
Hi! This indeed looks like our bug. Two things I found so far that might be helpful:
1. Your example code works fine in native shadow DOM mode. Open your app in Chrome and add the `?dom=shadow` query string to the URL).
2. This use case seems to work in general, without Angular: http://codepen.io/platosha/pen/LZWxqb?editors=1010

Probably a bug in `PolymerShadyDomAdapter`. Will investigate more.

[2016-06-28 14:15] platosha commented on #20
The issue was fixed in the docs website.

As a side effect of the fix, we can now remove the tutorial include workaround. This improvement is done in the PR #35.

[2016-06-28 16:42] santiago-elustondo commented on #34
Thanks!

[2016-06-28 19:08] santiago-elustondo opened #36 "How to subscribe to Polymer paper-dropdown-menu value change event?"
Hey guys, I know this isn't really your area of concern, but I thought maybe you'd have some opinion/experience to share. It might help those who are trying to get going with angular2-polymer.

The [paper-input](https://elements.polymer-project.org/elements/paper-input) component has a "changed" event that you can use to implement 2-way binding. I'm looking for an equivalent for [paper-dropdown-me

[2016-06-29 12:03] platosha commented on #36
`paper-dropdown-menu` has these properties: `value`, `selectedItem`, and `selectedItemLabel`. All of them have `notify: true` flag, so they should notify parents for their value change. This is stated in the element’s API documentation, the properties have the “notifies” mark there.

The “notify” flag means, that whenever the property value changes, the element fires a `property-name-changed` even

[2016-06-29 12:03] #36 closed, assigned to nobody

[2016-06-29 16:26] santiago-elustondo commented on #36
Very helpful, thanks

[2016-06-30 13:29] #20 closed, assigned to platosha

[2016-06-30 15:06] platosha commented on #34
Further research findings: the issue is probably caused by the fact that in `PolymerShadyDomAdapter` we call `Polymer.dom.flush();` on every change. After I removed these calls, the example code by @dirtysanchez69 started to work as expected.

The reason I think of is: when changing the menu options with binding, Angular 2 removes the DOM nodes before adding the new ones. Calling `Polymer.dom.flus

[2016-07-01 05:00] tehapo opened #37 "Test suite is broken on Angular 2.0.0-rc.4"
[code]

[2016-07-01 05:48] #37 closed, assigned to tehapo

[2016-07-01 13:24] gaithoben opened #40 "Support for Angular2 RC4?"
When do we expect support for RC4, i upgraded angular2 but i end up getting a blank screen.

[2016-07-03 16:04] jeswinjames24 opened #41 "Error: Uncaught (in promise): No value accessor for"
I get the below error when using ngForm as per RC4.

 Error: Uncaught (in promise): No value accessor for 'email'

[code]

but the value is passed to the login().

If i remove the [(ngModel)]= and #email="ngModel" there is no errors but no values is being passed to the login().

[2016-07-04 08:40] platosha opened #42 "UX: Improve “TypeError: Cannot read property 'Settings' of undefined” error message"
When Polymer is not imported, the import of `@vaadin/angular2-polymer` fails with the error message: “TypeError: Cannot read property 'Settings' of undefined”. We should elaborate it into something more helpful for users.

[2016-07-04 13:44] platosha opened #43 "Upgrade to the new Angular 2 forms module"
The forms module in Angular 2 had a breaking change, so now the new one is coming and the old one is going to be deprecated.

When running tests with Angular 2 rc4, I’ve got this warning in console:

[code]

We should probably upgrade to the new forms module.

[2016-07-05 09:12] #34 closed, assigned to platosha

[2016-07-06 03:24] MarkPieszak commented on #26
That would be ideal! I'm currently on vacation but will see what I can do to get this working with Universal sometime next week. Would love to have polymer + angular2 integration working ! :)

[2016-07-06 20:16] MarkPieszak commented on #26
So bad news unfortunately :(
Talked to a few people, unfortunately it seems Polymer is completely based on the browser and DOM you would need to basically create a new (different Polymer) for it to work server rendered. Don't think you'll be able to incorporate Polymer with Universal. It just wasn't created the way angular2 was (with those things in mind)
@splaktar

[2016-07-07 08:21] platosha commented on #26
Depending on the way Polymer elements are used in Angular 2 apps, it might not be a bad solution to have Polymer disabled on server. If on server we just treat Polymer elements as regular HTML, render the app state within this high level of abstraction, then send it to the Polymer-enabled browser, it should work.

The only rule for the app developers to respect is that we can not put the applicati

[2016-07-07 08:59] MarkPieszak commented on #26
Well said, I agree I think that's just about the most we could do for now. Maybe within universal we could DI out some of those window Polymer methods etc to get ignored/do nothing like you're saying, at least it'd still work on the server side (wouldn't break at least!)

[2016-07-07 12:19] platosha commented on #40
Hi! By merging the PR #44 yesterday we fixed an issue that might have caused this problem. Could you, please, try if it works now with the latest version v1.0.0-beta2 of `@vaadin/angular2-polymer`?

[2016-07-11 00:32] gaithoben commented on #40
Thank you, I will try once more and leave a comment later.

[2016-07-11 06:34] gaithoben commented on #40
@platosha It works well. Thank you.

[2016-07-11 06:36] platosha commented on #40
Great, thanks for informing us that it works for you.

[2016-07-11 06:36] #40 closed, assigned to nobody

[2016-07-14 22:27] cschroeter opened #45 "Checkbox is not checked using value attribute"
[code]

[code]

<img width="257" alt="bildschirmfoto 2016-07-15 um 00 26 20" src="https://cloud.githubusercontent.com/assets/1846056/16857831/c8111382-4a22-11e6-9aed-074f826578a2.png">

[2016-07-15 00:17] tallaxes commented on #45
Should be `checked` instead of `value`:

[code]

[2016-07-15 06:39] cschroeter commented on #45
That does the trick but then you still can not use the ngControl directive for model driven forms

[code]

[code]

[2016-07-15 09:25] cschroeter opened #46 "Paper Dropdown Menu not working with ngControl"
Using the paper-drodpwn-menu in conjunction with ngControl leads to the following error:

ORIGINAL EXCEPTION: TypeError: Cannot set property value of #<paper-dropdown-menu> which has only a getter

[code]

[code]

[2016-07-15 19:53] gaithoben opened #47 "Passing array value from angular2 to Polymer Element-Error."
I Have the following in my Custom Polymer Element

properties:{
   columns:{
          type:Array,
          value:function () {
            return ['"CompanyName", "Location", "Address"];
          }
        },
}

In Angular2

cols=["CompanyName", "City", "Address"];

`<my-element columns='{{cols}}'></my-element>`

When i try this i get an error: ORIGINAL EXCEPTION: Cannot find a differ supportin

[2016-07-15 21:04] jaichandra opened #48 "Wrapped polymer components in Angular2 throws runtime errors."
I tried creating a wrapper around paper-input component like below. The component works fine, but when I focus, I get below errors.

x-input.html

[code]

Errors when I click inside the input field.

[code]

Any idea how to fix this?

[2016-07-17 13:45] jaichandra commented on #48
Looks like if I remove the 'Polymer.PaperInputBehavior' behavior from the behaviors list, the error goes away. Data-binding still works. Btw, without adding Polymer.IronFormElementBehavior, data-binding (`[(ngModel)]="hero.name"`) doesn't work and throws runtime error.

Updated script.

[code]

[2016-07-17 13:45] #48 closed, assigned to nobody

[2016-07-17 17:04] gaithoben commented on #47
This is a reply to my own issue. I finally realized that i needed to do this: <my-element [columns]='cols'></my-element>

[2016-07-17 17:04] #47 closed, assigned to nobody

[2016-07-22 14:14] brOOper opened #49 "two-way binding paper-input"
The two way databinding does seem to work only in one direction. The value gets set on the paper-input but when changing, the model field (`customer.firstname` in this case) is not being updated.

[code]

(Version v1.0.0-beta2)

[2016-07-25 07:48] cschroeter commented on #43
It is great pity the project is abandoned

[2016-07-25 08:58] nicholaschantcs opened #50 "Getting values from Polymer Elements in Angular 2 components"
I have been trying to implement polymer elements into an angular 2 application and this module works just fine for predefined polymer elements from their official site. However, I am trying to implement custom elements such as [DigElements](https://github.com/DigElements), an example usecase will be using [elastic-client](https://github.com/DigElements/elastic-client). I am able to pass in data in

[2016-07-25 11:15] Saulis commented on #50
Hi!

The simplest way should be just using normal two-way binding.
Using the example from `elastic-client` readme:

[code]

Equals to this in Angular 2:

[code]

And you should have the results in property `results` that you've defined in your Angular2 component. Alternatively, you can register a handler function using syntax: `(query-results-change)='handleResults($event)'`

[2016-07-25 22:14] nicholaschantcs commented on #50
Hi Saulis,

Thanks for the heads up on using two-way binding, I have managed to get the values of clusterStatus and client from < elastic-client > element by using two-way binding.

[code]

I believed the variables for two way binding is from the properties of the Polymer elements as below right?

[code]

so If I tried to use the same approach on < elastic-search > element. I think there was some

[2016-07-26 06:10] Saulis commented on #50
@nicholaschantcs yeah you need to remove the two-way binding (`[(results)]="esResults"`) since `results` has `readOnly: true`. And also, my bad – the correct syntax for the callback handler would be `(resultsChange)="handleResults($event)"` without the dash.

[2016-07-26 08:58] ghost opened #51 "Events for buttons/paper-button/a are not working inside grid"
Hi,

events are not working for buttons/paper-button/a when they are placed inside Grid (angular2)

Please help me!

My Template:

[code]

Component:

[code]

[2016-07-26 09:09] nicholaschantcs commented on #50
Thanks for the help @Saulis , it's the callbacks are working as they should be now.

[2016-07-26 09:09] #50 closed, assigned to nobody

[2016-07-26 11:08] Saulis commented on #51
Hi!

This is actually not only an Angular2 issue, but also affects pure Polymer apps. Basically, the `<table>` element configuration can only be used to insert static data.

You can read more here: https://github.com/vaadin/vaadin-grid/issues/380#issuecomment-224876764

[2016-07-27 11:48] platosha opened #52 "Add API to opt-out the subdirectives"
A user might need to turn off certain subdirectives.

For example, when a user wants to use `ngControl` together with an `[invalid]` binding, the binding will not work because the value of the invalid property gets overwritten by the `validationDirective` subdirective. See also: https://github.com/vaadin/vaadin-date-picker/issues/215

[2016-07-28 08:57] httpdigest commented on #32
I second this! Definitely need to find a way to use vaadin with Webpack.

[2016-07-28 09:18] jumper423 commented on #32
I'm third then!

[2016-07-28 09:20] jumper423 commented on #32
There are such package https://github.com/jondum/polymer-loader
But I couldn't figure out how to apply it.

[2016-07-28 09:27] httpdigest commented on #32
Okay, I got an example working. Basically, I just added the necessary <link ref="import"> elements into the HTML file template finally produced by Webpack and then just called the Angular 2 selector in the body of the HTML. Here is a gist: https://gist.github.com/httpdigest/b81d30bbe3cacabbbc43893a24e99801
It is simply based off https://vaadin.com/elements/-/element/vaadin-grid

[2016-07-28 09:36] jumper423 commented on #32
I just do.
But I have to copy everything from the folder bower_components. As the project structure does not allow to attach directly. And in General this is not the best option. Code not beneficiries and so on.

[code]

[2016-07-28 09:41] jumper423 commented on #32
Here is not the right place to solve.
It must be solved in the repository of the polymer.
https://github.com/Polymer/polymer
https://github.com/Polymer/polymer/search?q=webpack&type=Issues&utf8=%E2%9C%93

[2016-07-28 09:46] platosha commented on #32
@jumper423 you can change the bower directory in .bowerrc:

[code]

See: https://bower.io/docs/config/

[2016-07-28 09:49] jumper423 commented on #32
@platosha thank you
But still an open question. How to connect them as needed? And I don't like when connecting a huge number of files. Currently not needed.

[2016-07-28 09:52] platosha commented on #32
@jumper423 how about using vulcanize? It can bundle all the HTML Imports you use with their dependencies into a single HTML file, which you can then feed to webpack.

[2016-07-28 09:55] jumper423 commented on #32
@platosha There is an example?

[2016-07-28 10:48] httpdigest commented on #32
Vulcanize is _the_ tool! :) @jumper423 as for an example:

Of course you can also add a script to package.json:

index.html is supposed to be your html file with the <link ref="import"> imports of the vaadin component html files. The output is the out.html with all such components concatenated into your html file.

[2016-07-28 11:23] httpdigest commented on #32
Okay, I just found that it does _not_ work with Vulcanize out of the box. Vulcanize includes the HTML files and the referenced JavaScript files, but it _does not_ remove the "src" attribute of the inlined <script> elements. This leads Chrome to think that it should download the script. The problem is with the vaadin-grid/vaadin-grid.html file which references "vaadin-grid.min.js". After vulcanize

[2016-07-28 14:31] jgarrard commented on #28
I see that the fix for 'don't ignore js in public' was merged. Does that mean this fix made it into beta 10 of the cli? I am still getting the same error mentioned earlier by @Splaktar using the newest version of angular-cli when building/serving production.

[2016-07-29 07:14] Saulis commented on #41
Hi!

Are you using the latest version?

Also, please see #43

[2016-07-29 08:07] Saulis commented on #46
Hi!

As `<paper-dropdown-menu>` extends the behavior `IronFormElementBehavior`, it exposes a property `value` which in turn is used in `ngControl`.

However, looks like `<paper-dropdown-menu>` overrides `value` to be read-only. When `AppComponent` is initialized, it tries to set an empty string as the `value` of `<paper-dropdown-menu>` through the form, which causes the error.

Unfortunately I can

[2016-07-29 11:45] Saulis commented on #45
Added a feature to target `ngControl` to use `checked` instead of `value` property for elements which extend `IronCheckedElementBehavior`

[2016-07-29 16:16] 5amfung commented on #32
Now that angular-cli is about switching to webpack.  I was able to migrate my project to webpack but when I run `ng serve`, I get this at the end of `ng serve`.

[code]

[2016-08-01 06:08] jeswinjames24 commented on #41
Hi Saulis,

The version i am using currently is     "@vaadin/angular2-polymer": "^1.0.0-beta2"

The issue still remains, the error can be removed with using only [(value)], but in this case the values of the form is not passed in submit function. I have to reference each value seperately.

[2016-08-01 08:13] Saulis commented on #49
Hi!

Tried reproducing with

[code]

And everything seems to update like it should. Have you remembered to add `PolymerElement('paper-input')` directive?

If still not working, could provide a full example where the problem occurs? Thanks!

[2016-08-01 09:19] Chabane commented on #28
I am still getting the same error mentioned earlier by @Splaktar and @jgarrard.

GET http://localhost:4200/bower_components/webcomponentsjs/webcomponents-lite.min.js
localhost/:21
GET http://localhost:4200/bower_components/webcomponentsjs/webcomponents-lite.min.js
localhost/:30
GET http://localhost:4200/bower_components/web-animations-js/web-animations-next-lite.min.js

I am using the latest versi

[2016-08-01 13:10] tehapo commented on #28
The code at `v1.0.0-beta.10` tag suggests that this change is included in the release. I guess this needs further investigation.

https://github.com/angular/angular-cli/blob/v1.0.0-beta.10/lib/broccoli/angular2-app.js#L163

[2016-08-01 23:28] Splaktar commented on #21
angular-cli is in the process of moving to support webpack. It's currently in master, but not released yet. This work to support angular-cli will probably want to wait for the new webpack support to be released.

[2016-08-01 23:35] Splaktar commented on #26
That sounds like enough of a solution for now. I really just need to be able to render the app-shell with Universal, not the whole functional app.

The problem I had before was that even with `*shellNoRender` around all of the Polymer elements (meaning don't render in app-shell), initializing Polymer is still calling `window.Polymer;`.

I'll try to mess with this again sometime soon, but any chang

[2016-08-01 23:40] Splaktar commented on #28
Yes, this is working properly in `beta.10`.

I'm using a customized build to support SCSS, but here is what I've got working in `angular-cli-build.js`:

[code]

[2016-08-02 06:22] manolo commented on #21
Thank Michael for the update. We will follow the status of webpack. We still have this task in our backlog and not started yet.

[2016-08-02 07:05] tehapo commented on #28
Just verified that [angular2-polymer-tutorial](https://github.com/vaadin-marcus/angular2-polymer-tutorial) now works in production mode with `angular-cli@1.0.0-beta.10`, but gives 404 errors when using the older `1.0.0-beta.9` version.

Closing this ticket now, feel free to reopen if this problem still appears.

[2016-08-02 07:05] #28 closed, assigned to nobody

[2016-08-03 10:18] florent1933 commented on #49
Same problem:

This one is working [value]="model.foobar" (input)="model.foobar=$event.target.value"

but not:
- [(value)]="model.foobar"
- [(ngModel)]="model.foobar"

Stacktrace for  [(ngModel)], seems to be related https://github.com/vaadin/angular2-polymer/issues/41:
`ORIGINAL EXCEPTION: No value accessor for ''BrowserDomAdapter.logError @ browser_adapter.ts:82
browser_adapter.ts:82 ORIGINAL ST

[2016-08-03 20:42] brOOper commented on #49
I put the directive `PolymerElement('paper-input')` in the parent component so I have to put it only once. Moving it to the component where it is used made it work.

@Saulis Why can't I just put it on the parent component like other directives?

[2016-08-04 08:30] florent1933 commented on #49
@brOOper : Do you have two way data binding with:
- [(value)]="model.foobar"
- [(ngModel)]="model.foobar" ?

[2016-08-07 05:59] 5amfung opened #54 "Getting warning when using angular-cli@webpack"
Project created using angular-cli@webpack would return the following warning when running `ng serve`.

[code]

[2016-08-08 10:34] tehapo commented on #54
Confirmed, I can also see the same warnings. The functionality is not affected though.

The reason for these warnings is that the distributed package does not include the TypeScript source files.

[2016-08-08 11:09] ghost commented on #42
Any fix for this?

[2016-08-08 12:19] tehapo commented on #42
@surya84 We have not yet updated the error message, but if you are encountering the problem, please see this [comment](https://github.com/vaadin/vaadin-date-picker/issues/205#issuecomment-230237708) on instructions how to fix.

[2016-08-08 17:23] leonel-torrealba commented on #32
@httpdigest Hi, how you managed to import all the files? I try to import all the dependencies listed in the Angular 2 tutorial page for vaadin in a import file and then i vulcanize this file. And finally I'm requiring the vulcanized file. And i always get a Polymer error.

TypeError: undefined is not an object (evaluating 'Polymer.Settings').

Did you encounter with an error like this?.

Thanks in

[2016-08-09 08:53] Chabane commented on #54
I have the same warning. A fix is envisaged?

[2016-08-10 12:49] ghost opened #56 "Unable to integrate with angular2-seed"
I have been trying to integrate angular2-polymer with angular2-seed from past 2 days; but couldn't make it.

Need help very badly!

Here is the error in console:
![vaadin_error](https://cloud.githubusercontent.com/assets/6713590/17553507/c5968e1e-5f23-11e6-9d33-42d28fb3e9cf.JPG)

[2016-08-11 14:12] Chabane opened #57 "Firefox/IE11 - Angular-cli/Webpack - TypeError: Polymer is undefined"
Hi,

Project created using angular-cli@webpack would return the following errors when running ng serve, in Firefox and IE11.

Polymer is loaded after main.ts.

How can I do without using document.addEventListener('WebComponentsReady', function() [..] in index.html?

I put something like that into index.html :

`<script>
      window.Polymer = window.Polymer || {};
      window.Polymer.dom = 'shado

[2016-08-11 15:44] vitoexe commented on #32
@5amfung to eliminate **Webpack warning** try add line in **webpack.common.js** file

[code]

[2016-08-11 18:50] Chabane commented on #32
@vitoexe angular-cli not provides a webpack.common.js file.

[2016-08-12 08:25] platosha commented on #57
Hi,

The cause of the error you have is that the Polymer library has not been loaded and initialized yet at the time when the `angular2-polymer` directives are trying to access it. It’s not possible workaround this by just declaring the `window.Polymer` object.

The Polymer library and elements are imported with HTML Imports. Chrome has a native support of them, they are loaded synchronously in it

[2016-08-12 08:25] #57 closed, assigned to nobody

[2016-08-12 12:45] aegyed91 opened #58 "Cannot import app-grid"
Cannot import [app-grid](https://elements.polymer-project.org/elements/app-layout?active=app-grid).

[code]

It is probably because the `app-grid` folder doesn't contain an `app-grid.html` but an `app-grid-style.html`. And `PolymerElement`'s name input, i keep getting [this error](https://github.com/vaadin/angular2-polymer/blob/master/src/polymer-element.ts#L75-L77).

[code]

ping @platosha

[2016-08-12 13:41] aegyed91 commented on #56
@surya84 check out [angular2-ts-seed](https://github.com/codewareio/angular2-ts-seed/tree/polymer)'s polymer branch. It runs on rc5 and works fine.

[2016-08-12 13:51] aegyed91 opened #59 "Custom CSS mixins doesn't always work"
[Custom CSS mixins](https://www.polymer-project.org/1.0/docs/devguide/styling#custom-css-mixins) doesn't always work when the mixin value is an object.

For example lets take a look at [`app-drawer`'s style properties](https://elements.polymer-project.org/elements/app-layout?active=app-drawer#styling):

[code]

ping @platosha

[2016-08-12 14:55] aegyed91 opened #60 "Cant bind property primitive types"
I can only bind the [`swipeOpen`](https://elements.polymer-project.org/elements/app-layout?active=app-drawer#property-swipeOpen) property primitive type of `app-drawer` with `<app-drawer [swipeOpen]="true"></app-drawer>`. This doesn't work: `<app-drawer swipeOpen></app-drawer>`.

But i don't quite understand because the [opened](https://elements.polymer-project.org/elements/app-layout?active=app-d

[2016-08-12 14:59] aegyed91 commented on #54
Hmm i have no such warnings. I dont know how `angular-cli` works, but you can mix and match the code [in this project](https://github.com/codewareio/angular2-ts-seed/tree/polymer). It uses webpack and rc5. Make sure you investigate the polymer branch.

[2016-08-12 15:33] platosha commented on #58
Not an issue. `app-grid` is a pseudo-element. It does not register itself under a custom HTML element name. In the `app-grid-style.html` file, there are no elements defined, but only a style module.

As long as you don’t have `<app-grid>`, there is no need to do anything special about `app-grid` for the `PolymerElement` directives as well. You can safely skip declaring it in the directives, like y

[2016-08-12 15:33] #58 closed, assigned to nobody

[2016-08-12 15:39] platosha commented on #60
Please try: `<app-drawer swipe-open></app-drawer>`. The property names are in camelCase, while the attribute names are in kebab-case.

[2016-08-12 15:44] aegyed91 commented on #60
ahh cool, it works

[2016-08-12 15:44] #60 closed, assigned to nobody

[2016-08-13 00:47] sixrandanes opened #61 "Is the directive compatible angular2@rc5 ?"
Hello,

I tried to upgrade my project with the last release of angular (rc5).

When I am using modules in angular2@rc5 way, the angular2-polymer directive seems not to be taking into account as a directive.

I"ve got this error :

 I have reproduced the problem in two small projects :

https://github.com/sixrandanes/angular2-polymer-integration-rc4 (everything is ok)
https://github.com/sixrandanes

[2016-08-13 16:07] unnamed666 commented on #61
got similiar error but after adding CUSTOM_ELEMENTS_SCHEMA to ngModule schemas array its working fine - you got insruction how to fix in your error message :)

[2016-08-13 17:14] Richard87 commented on #32
Hi all,

What is currently the best way to load vaadin/angular2-polymer in angular-cli@webpack projects?

[2016-08-13 19:40] sixrandanes commented on #61
Thanks a lot for your answer !!

I close this issue as it works well with adding CUSTOM_ELEMENTS_SCHEMA to NgModule.schema.
I missed the point when I red the error message.

Awesome !

[2016-08-13 19:40] #61 closed, assigned to nobody

[2016-08-15 10:47] tehapo commented on #23
Angular CLI is moving to a Webpack setup. Closing this one now.

[2016-08-15 10:47] #23 closed, assigned to platosha, Saulis

[2016-08-15 15:31] hrandika commented on #61
@sixrandanes can you please elaborate more on this? (May be a small sample project). I'm trying my self with RC5.

[2016-08-15 19:46] sixrandanes commented on #61
Here is the detail :

@NgModule({
  imports:      [ ... ],
  declarations: [
...
  ],
  providers:    [ ... ],
  schemas: [CUSTOM_ELEMENTS_SCHEMA]
})
export default class XXXModule { }

[2016-08-16 15:28] ootwch commented on #61
I tried the below module, which I would import into the modules using polymer elements (almost all of them..), but this does not seem to work either (`Can't bind to 'icon' since it isn't a known property of 'iron-icon'`).

[code]

[2016-08-17 13:11] Chabane commented on #57
@platosha

Thanks, I will wait.

[2016-08-18 01:26] nikoTM commented on #57
Hello @platosha,

Is it possible to bundle up the HTML import and load locally as a workaround for this, until an official release ? If so, please share how to bundle it. Thanks.

[2016-08-18 08:08] platosha commented on #57
@nikoTM you can use the [vulcanize](https://github.com/Polymer/vulcanize) tool for that. For example:

[code]

[2016-08-18 16:04] bertvh opened #63 "Still relevant?"
Just did a test setup using angular rc.4 and an few Polymer elements. I didn't have to do anything. Attribute bindings seemed to work properly, events also worked smoothly.

What am I missing? Or, what should I try that won't work without the angular2-polymer component?

[2016-08-18 20:52] jaichandra opened #64 "custom-style causing issues with @angular2-material library"
In apps which already use @angular2-material library, using polymer elements with angular2-polymer breaks material library css styles.

below line is causing issue:

[code]

Because the above code uses `prototype` and overrides the default `createStyleElement` function, it causes all styles to be converted to `<style is="custom=style">` tags, thus breaking existing material library styles. Is ther

[2016-08-19 11:34] platosha commented on #63
Try the following:
- Two-way bindings, should update `componentProperty`: `<paper-input [(value)]="componentProperty"></paper-input><p>The value is: {{componentProperty}}</p>`
- Deep property changes. Render `<iron-list>` with items bound to an array, then modify an array item from the component and from the Polymer element. The changes should propagate in both ways.
- Polymer’s Shady DOM compatib

[2016-08-19 11:34] #63 closed, assigned to nobody

[2016-08-19 11:36] bertvh commented on #63
Cool. Will try!

VERY nice that you support the forms API. I already gave up on that, but this means I shouldn't.

Thanks for the great plugin.

[2016-08-22 09:45] #43 closed, assigned to platosha

[2016-08-22 14:24] platosha commented on #45
Fixed in #62

[2016-08-23 06:13] components-stalker opened #67 "Update to rc5"

[2016-08-23 09:29] #45 closed, assigned to nobody

[2016-08-23 11:12] tehapo opened #68 "Replace "Angular-CLI" with "Angular CLI" in docs"
The documentation in has "Angular-CLI" mentioned in several places. This should be replaced consistently with "Angular CLI" (without the dash) as it is the correct spelling of the product name.

[2016-08-23 11:34] platosha commented on #54
Possibly fixed in https://github.com/angular/angular-cli/commit/22a6b59dd429356bd617ae3dfceb51335aa815d2

[2016-08-23 11:38] platosha commented on #49
Is it that you are using the Angular’s New Forms module? If so, this should be fixed by #55. Please try again with the master version of `@vaadin/angular2-polymer`.

[2016-08-23 11:39] platosha commented on #41
Is it that you are using the Angular’s New Forms module? If so, this should be fixed by #55. Please try again with the master version of `@vaadin/angular2-polymer`.

[2016-08-23 13:06] platosha opened #70 "Expose the element’s API in the directive instance"
In order to simplify usage of Polymer elements in Angular components and get rid of the `nativeElement` requirement to access the element‘s API, the directive could construct an adapter for the element’s prototype, and expose it for use with `@ViewChild`. Consider the following use case:

[code]

[2016-08-23 16:57] nuwan-sl commented on #57
Thanks platosha. it is working

[2016-08-23 18:03] Chabane commented on #57
Thank's,
@platosha I tried to do something like that in main.ts, but it doesn't work  :

[code]

@nuwanwickrmanayaka can u expose your solution please?

[2016-08-23 19:11] maxmumford opened #71 "Google map attribute binding"
Hi,

I'm trying to bind the google-map and google-map-marker latitude and longitude attributes to component properties like so:

[code]

... but get the following error:

[code]

Is what I'm trying to do supported? How should it be done?

Thanks
Max

[2016-08-24 05:36] #21 closed, assigned to platosha

[2016-08-24 07:09] #68 closed, assigned to tehapo

[2016-08-24 07:56] platosha commented on #57
@Chabane perhaps I was a bit wrong about the bootstrap. Please try to postpone both import and bootstrap. See this guide: https://github.com/vaadin/angular2-polymer/blob/master/docs/ng-cli-webpack.adoc

[2016-08-24 08:09] platosha commented on #71
Hi! Angular v2.0.0-rc.5 introduced stricter checks on the component templates. Namely, binding to any properties unknown to Angular is not allowed by default anymore. As the error message says, since `google-map` is a Web Component, you should specify CUSTOM_ELEMENTS_SCHEMA in your @NgModule to allow unknown properties. Example:

[code]

The documentation updates covering usage with Angular v2.0.0

[2016-08-24 08:09] #71 closed, assigned to nobody

[2016-08-24 09:32] maxmumford commented on #71
Ah I see, I expected the module to be aware of all of the inputs for the components it provides. Whitelisting all attributes like that does feel a little bit hacky... Are there any plans to explicitly support this without the need of CUSTOM_ELEMENTS_SCHEMA?

Otherwise great module, very easy to set up :)

[2016-08-24 09:49] Chabane commented on #71
@maxmumford If you are using angular-cli@webpack, you have to follow this documentation :
https://github.com/vaadin/angular2-polymer/blob/master/docs/ng-cli-webpack.adoc

Thanks @platosha @tehapo.

[2016-08-24 09:50] platosha commented on #71
@maxmumford Agree. This would be a nice improvement.

Angular’s codebase is still changing quickly. We are focused on keeping this package up-to-date and functioning for now. No certain plans on improvements yet, but we have ideas. This could be done as a part of #70, perhaps.

[2016-08-24 10:07] maxmumford commented on #71
#70 looks interesting and imo is definitely a use case people will come across. In the meantime this module will work nicely, to be honest I'm just happy that something so comprehensive exists while NG2 is still so young... Thanks again for your help.

[2016-08-24 10:45] vitoexe commented on #32
**angular-cli@webpack**

@Richard87 My solution is:

launch Angular  from main.ts after WebComponentsReady by **require**

[code]

main-after-listener.ts

[code]

This is work also in Firefox.

Temporary solution to eliminate **WARNING in ./~/@vaadin/angular2-polymer/index.js** in node_modules/angular-cli/addon/ng2/models/webpack-build-common.ts You can add

[code]

**But this is bad solution! Thi

[2016-08-24 10:49] maxmumford opened #73 "Google map API key missing"
Hello again ;)

Not sure if this is a problem with this library or the polymer library so I'll post it here first:

I'm using the following code to try to implement the google-map component:

`<google-map latitude="37.779" longitude="-122.3892" zoom="13" api-key="...mykey..."></google-map>`

but the browser is still complaining about missing api keys:

[code]

The generated code looks like this in

[2016-08-24 10:55] platosha commented on #32
There is a guide for Angular CLI Webpack projects. Please see: https://github.com/vaadin/angular2-polymer/blob/master/docs/ng-cli-webpack.adoc for the complete step-by-step instructions.

cc @cementito @Richard87 @liongoncalves

[2016-08-24 10:55] #32 closed, assigned to nobody

[2016-08-25 05:20] #67 closed, assigned to platosha

[2016-08-25 07:26] Chabane commented on #57
Thank you @platosha that's work fine!

[2016-08-25 15:16] maxmumford opened #74 "Cannot set property 'persistent' of undefined when trying to use app-layout"
Hi all,

vaadin/angular2-polymer is working correctly for some elements like paper-input, but when it comes to implementing app-layout I'm getting errors:

![app-layout errors](http://i145.photobucket.com/albums/r205/maxmumford/Screen%20Shot%202016-08-25%20at%2016.03.34_zpsdvcyez5w.png)

The strange thing is that the errors are intermittent, appearing 95% of the time, the other 5% the app-layout w

[2016-08-26 07:44] Chabane commented on #67
Thanks. Is it possible to publish the beta3 in npm?
npm install --save @vaadin/angular2-polymer@1.0.0-beta3 returns a 404 error.

[2016-08-26 08:04] tehapo commented on #67
@Chabane Oh sorry, I forgot to run `npm publish` after tagging the release. 😄  Fixed.

[2016-08-26 09:29] platosha commented on #74
Hi! Looks like `<app-drawer-layout>` is trying to access `<app-drawer>`, while it has not been attached yet. This is how Angular templates work normally, the wrapper elements are attached before their children, so probably we can not fix this.

Could be a bug in `<app-drawer-layout>`. For example, `<app-header-layout>` has a similar structure, but works fine. I’ve noticed, that in `<app-header-lay

[2016-08-26 09:57] maxmumford commented on #74
Thanks @platosha, yeah fingers crossed it's an upstream issue and not a framework limitation. Thanks for your support

[2016-08-26 10:08] Chabane commented on #67
Thanks :+1:

[2016-08-26 11:56] Chabane opened #75 "vaadin-date-picker - formControlName not supported as expected"
Hi,

Thanks for the beta3. I tried to use the new form version of Angular 2 but it doesn't work with vaadin-date-picker. I got this error :

`More than one custom value accessor matches form control with unspecified name attribute`

[code]

Thanks!

[2016-08-26 18:18] cschroeter opened #76 "No value accessor for form control"
There is no value accessor for paper-input elements using reactiveformmodules

[code]

[code]

[code]

[2016-08-26 18:36] Chabane commented on #76
Add ngControlDefault on paper-item.

[2016-08-26 18:40] cschroeter commented on #76
Like this?

[code]

Unfortunately still no control value accessor :(

[2016-08-26 19:00] Chabane commented on #76
See this link for more informations :
[angular2 rc.5 custom input, No value accessor for form control with unspecified name](http://stackoverflow.com/questions/38958347/angular2-rc-5-custom-input-no-value-accessor-for-form-control-with-unspecified)
This error is occurred only with externals components like material 2 & polymer.

[2016-08-28 20:34] 5amfung commented on #32
@liongoncalves Running on Chrome has no problem, but I got your same `Polymer.Settings` error when running on Safari on Mac.  Were you able figure out how to fix the problem?

And I'm using this approach to bootstrap my app.

[code]

[2016-08-28 22:22] 5amfung commented on #74
The loading order has something to do with the issue.
- When running on Chrome, if I don't wait for WebComponentsReady event and immediately bootstrap the angular app, everything works without any problem on Chrome, but not Safari.
- If I wait for WebComponentsReady before bootstrapping the app, it works on Safari, but not Chrome.  When it doesn't work on Chrome, that's where I get would get `Cann

[2016-08-29 13:47] maxmumford opened #77 "More than one custom value accessor matches form control with unspecified name attribute"
Trying to implement two way data binding with paper-input using the latest version (1.0.0-beta3) with the following code:

[code]

and I get the following error message:

`More than one custom value accessor matches form control with unspecified name attribute`

Removing the ngModel attribute stops the error from appearing and the paper-input element renders correctly but of course isn't bound to

[2016-08-29 13:51] Chabane commented on #77
It's the same issue as #75

[2016-08-30 09:02] maxmumford commented on #77
Oops, didn't see that one. Let's consolidate into #75

[2016-08-30 09:02] #77 closed, assigned to nobody

[2016-08-30 09:02] maxmumford commented on #75
I'm also having this issue with paper-input:

Trying to implement two way data binding with paper-input using the latest version (1.0.0-beta3) with the following code:

[code]

and I get the following error message:

`More than one custom value accessor matches form control with unspecified name attribute`

Removing the ngModel attribute stops the error from appearing and the paper-input element r

[2016-08-30 15:05] tomivirkki commented on #75
Hi @Chabane
Played around with your example snippet at https://embed.plnkr.co/4XBiyW/. Got `<vaadin-date-picker>` functioning ok as a FormControl there. Am I missing something?

[2016-08-30 15:39] Chabane commented on #75
@tomivirkki

Thanks for the plnkr. I am using ReactiveFormsModule instead of FormsModule.

I copied the code on plnkr and I have another error :

I can fix this with ngDefaultControl, but I am not supposed to use it.

[2016-09-01 15:51] DevWurm opened #78 "Incompatible with Angular2 rc.6"
When using Angular2 Release Candidate 6, I'm not able to load my app, when including Polymer Components via `angular2-polymer`, because of the following error:

[code]

Probably because of [this](https://github.com/angular/angular/commit/bec5c5f#diff-8deabf0df78205f67c15546ad1410556L399) change in the Angular2 API.

This is the code, where the Error comes from:

[code]

[2016-09-01 19:10] emilianosantucci commented on #78
Same issue with RC6

[2016-09-02 15:02] niveo commented on #78
This work for me. I think ^.^

clone the project change and compile.

`
import {Provider...} from '@angular/core';

import { NgControl as OldNgControl, NG_VALUE_ACCESSOR as OLD_NG_VALUE_ACCESSOR,
  FormControlName, NG_VALUE_ACCESSOR } from '@angular/forms';

   providers: [{
          provide: OLD_NG_VALUE_ACCESSOR,
          useExisting: forwardRef(() => formElementDirective),
          multi: tr

[2016-09-02 16:26] emilianosantucci commented on #78
Hi @niveo, we can't reach dropbox links :(, can use plunker instead?
I've tried a similar approach but something went wrong when extends `BrowserDomAdapter`, receiving errors on browser console below:

[code]

p.s.: which command launch to compile it?

[2016-09-02 18:09] niveo commented on #78
clone https://github.com/vaadin/angular2-polymer.git

change package.json

[code]

NOW
**npm install**

REMOVE

import { NgControl as OldNgControl, NG_VALUE_ACCESSOR as OLD_NG_VALUE_ACCESSOR } from '@angular/common';

ADD

import { NgControl as OldNgControl, NG_VALUE_ACCESSOR as OLD_NG_VALUE_ACCESSOR,
  FormControlName, NG_VALUE_ACCESSOR } from '@angular/forms';

CHANGE
providers: [{
provide: OLD_

[2016-09-03 08:47] emilianosantucci commented on #78
I did same steps but nothing changed :(.
Now I've branched my project and downgrade the master on RC5. Maybe the issue is also linked on my platform (Meteor) and its angular2-compilers package.

Anyway, thanks @niveo for all :D.

[2016-09-05 21:14] platosha commented on #78
Hello! Thanks for filing this issue and sharing the information.

We’re working on the solution, see PR #80. The pull request is currently under a team review, but your feedback would be also helpful. Please try the [upgrade branch](https://github.com/vaadin/angular2-polymer/tree/upgrade/angular-v2.0.0-rc.6) and say if it works for you.

[2016-09-06 09:09] samiheikki commented on #59
Hi @tsm91

I tried to reproduce this issue in Plunker https://plnkr.co/edit/HJNfs1?p=preview but everything seemed to work.

I'm closing this issue now. Feel free to re-open it if it doesn't to work.

[2016-09-06 09:09] #59 closed, assigned to nobody

[2016-09-06 09:47] platosha commented on #76
@cschroeter could you please run `$ npm ls` and give the output here?

The issue could be caused by having two different Angular revisions in your project dependencies. There might be two different instances of the `@angular/forms` package installed, one for the project (under the `node_modules/@angular/forms` path), and another one for the `@vaadin/angular2-polymer` package specifically (under `n

[2016-09-06 09:47] #76 closed, assigned to nobody

[2016-09-06 10:01] cschroeter commented on #76
You should use peerDependencies to express your dependencies to `@angular/form`. You can find more information about peerDependencies  [here](https://stackoverflow.com/questions/18875674/whats-the-difference-between-dependencies-devdependencies-and-peerdependencies).

But anyway I using 0.3.0 like you have defined in your package.json

[2016-09-06 10:25] platosha opened #81 "Use peerDependencies for the Angular dependencies"
`peerDependencies` works better at expressing that not only the package depends on the Angular modules, but rather the user’s project and the package should share a single instance of each Angular dependency in the project scope.

Sharing a single installation of each Angular module in the project’s scope is required to have the package work correctly. Otherwise the issues like #76 could happen.

[2016-09-06 10:32] platosha commented on #76
@cschroeter good point, thanks 👍

Please double-ensure that there are no local Angular modules.

While verifying the issue, i’ve reproduced the error you have at first. But then noticed myself that I have two installations of Angular 2 modules in the project. Adjusting the dependencies resolved the error for me.

[2016-09-06 10:48] cschroeter commented on #76
I've run `npm ls` and there was no sub dependency listet for @vaadin/angular2-polymer.

[code]

[2016-09-06 11:13] platosha commented on #76
Could also be a module loader or build issue. For example, if `@angular/forms` and `@vaadin/angualr2-polymer` are compiled into separate JS files, there might be two instances of the forms module in those files.

Are you using System.js or webpack? Can you share the isolated reproduction?

[2016-09-06 11:32] platosha commented on #74
It looks like this issue was resolved in the `<app-drawer-layout>`, see: https://github.com/PolymerElements/app-layout/pull/313

Please update the bower dependencies and try again. The current version of the  `<app-drawer-layout>` works for me.

[2016-09-06 11:32] #74 closed, assigned to nobody

[2016-09-06 12:59] platosha commented on #73
Can confirm this does happen. The problem is that the map element starts to load the API script before the `apiKey` property was assigned/defined.

This is a known issue with the `<google-map>` element (`<google-maps-api>`, to be precise). See: https://github.com/GoogleWebComponents/google-apis/issues/67

[2016-09-06 15:50] niveo commented on #78
angular2-polymer-upgrade-angular-v2.0.0-rc.6

it's works, thanks.

[2016-09-06 17:49] emilianosantucci commented on #78
@platosha it's works, thanks.

My issue was on using `[...] extends BrowserDomAdapter` instead `[...] extends __platform_browser_private__.BrowserDomAdapter` :D.

Have you plan an official release date?

[2016-09-07 07:36] #78 closed, assigned to platosha

[2016-09-07 10:09] platosha commented on #73
I failed to find a solution on our side. We can’t fix it because of the https://github.com/GoogleWebComponents/google-apis/issues/67 and https://github.com/GoogleWebComponents/google-map/issues/328 issues.

Perhaps it’s better to use a more Angular-specific maps solution, for example https://github.com/SebastianM/angular2-google-maps

[2016-09-07 10:09] #73 closed, assigned to platosha

[2016-09-07 11:40] maxmumford commented on #73
Thanks @platosha , I went with https://github.com/SebastianM/angular2-google-maps in the end and it works well so far.

[2016-09-09 06:02] sylphir opened #82 ""Using Polymer Elements in Angular CLI Webpack" doc need an update for last angular-cli version"
I tried to apply the "Using Polymer Elements in Angular CLI Webpack" tuto,
on 1.0.0-beta.11-webpack.8 without success on Firefox.

But the trick is here : [https://github.com/angular/angular-cli/pull/1747](https://github.com/angular/angular-cli/pull/1747)
The polyfill
`<script src="bower_components/webcomponentsjs/webcomponents-lite.min.js"></script>
`
has to be call in global in angular-cli.json

[2016-09-09 06:06] Chabane commented on #82
See  #57

[2016-09-09 06:15] sylphir commented on #82
First of all thank you for your answer and sorry if my english is bad.
As i said in my comment i followed the "Using Polymer Elements in Angular CLI Webpack" tuto that i found in #57 but it doesn't work anymore on the last angular-cli version.

I wrote the solution in the previous comment.

[2016-09-09 07:22] Chabane commented on #82
Understood. What for elements.html ? It's an import of html.

[2016-09-09 07:45] sylphir commented on #82
Actually, the issue with Firefox is that the polyfill is not loaded, and turn to a Polymer.Settings is undefined
This one : angular/angular-cli#1747 is about javascript libraries which need to be added to the global scope, and loaded as if they were in a script tag.
This trick make the polyfill load successfully
There is no other issues with html import.

[2016-09-09 10:38] martinopic opened #83 "Release date for version fixing compatibility issues with rc.6"
Is there any date planned to release fixes done for https://github.com/vaadin/angular2-polymer/issues/78 ? Thanks.

[2016-09-09 10:40] platosha commented on #83
I will release them today.

[2016-09-09 10:40] #83 closed, assigned to nobody

[2016-09-09 18:28] mfdeveloper commented on #32
Hello @platosha ! This documentation link is "_out of date_". The directory `public` was changed to `assets` on angular-cli. I did a pull request [!84](https://github.com/vaadin/angular2-polymer/pull/84) to fix some steps on this doc!

Futhermore, when you perform `ng build` all dependencies on `src/assets/bower_componets` are present on `dist` directory, even whether is not used 😞

[2016-09-10 17:49] ythanaseelan opened #85 "Two way binding with Angular 2 - Google Web Component ( chart ) is not working"
With below angular component and template, the graph comes up fine with initial data, but when the data is changed from angular component, the chart is not refreshed with new data.

On a related note, when used through, the document element ( commented code ), it works fine.

Angular component:( excerpt )

Template: ( excerpt )
`<google-chart id=mutating-chart (google-chart-ready)="updateData()"

[2016-09-13 03:18] rstpv opened #86 "Ahead of Time (AoT) compile doesn't work with PolymerElement in declarations"
When using PolymerElement function inside the @NgModule, the AoT compiles complains with the following message:

[code]

Solutions to this error message have been provided in:

[angular issue#10789](https://github.com/angular/angular/issues/10789#issuecomment-242220591)

But almost all use the useFactory attribute as a workaround, but, declarations don't have such a feature.

[2016-09-13 07:48] cschroeter commented on #76
@platosha with the latest rc6 / beta4 it works 👍

[2016-09-14 18:31] mscharp opened #87 "Error using PolymerElements with angular-cli-webpack"
Following the steps in the angular-cli-webpack.adoc guide for using the PolymerElements results in an error: `Uncaught Unexpected value 'class0' declared by the module 'AppModule'`

It seems to stem from putting any of the PolymerElement() in the declarations tag of NgModule as such:

`@NgModule({
    ...
    declarations: [ AppComponent,
        PolymerElement('paper-input')
    ],
    ...
})`

A

[2016-09-14 18:36] Chabane commented on #87
Try with 1.0.0-beta.11-webpack.9, it works with angular2-rc7.

1.0.0-beta4 works with angular2-rc6
1.0.0-beta.11-webpack.8 works with angular2-rc5

[2016-09-14 21:27] mscharp commented on #87
Thanks for the quick response.

I updated angular-cli to 1.0.0-beta.11-webpack.9 which updated angular to rc7, and left the vaadin script at 1.0.0-beta.4.  I'm still seeing the same error.

I don't have my project laid out the default way the cli set's it up, but if I don't attempt to use the polymerelements anywhere, the angular application works correctly, so I don't think that should matter...

[2016-09-14 22:21] mscharp commented on #87
I just went through the angular-cli upgrade process again, and now it's working.  I guess I'll chalk this one up to a bad upgrade the first time.

[2016-09-14 22:21] #87 closed, assigned to nobody

[2016-09-16 02:19] oravecz commented on #49
It seems that the newer versions of Angular2 are incompatible with the `PolymerElement()` call. Without that function to wire up 2-way data binding, what is an alternative?

 #84

[2016-09-16 07:47] platosha commented on #49
We can’t reproduce the original issue, closing.

@oravecz We don’t have an answer yet. Looks like you are facing the same issue as in #86, so let us continue there.

[2016-09-16 07:47] #49 closed, assigned to nobody

[2016-09-16 21:24] oravecz commented on #49
As long as I add the `PolymerElement(...)` to NgModule, and _not_ to the component, then all works as expected.

[code]

[2016-09-20 06:06] components-stalker opened #90 "E2E tests timeout in angular-cli projects"

[2016-09-20 14:23] platosha commented on #90
The reason is the incompatibilities between Zone.js and Polymer.

`Polymer.Async`, used by Polymer’s debouncers, treats the `setTimeout` return value as a number, and sometimes calls `clearTimeout` with the `setTimeout`’s return value converted to a number. At the same time, when using Zone.js, the patched `setTimeout`/`clearTimeout` timer methods work with `Task` instances rather then with number

[2016-09-20 15:01] #75 closed, assigned to nobody

[2016-09-20 15:01] Chabane commented on #75
That's work fine with beta5

[2016-09-21 08:43] Chabane opened #91 "Vaadin elements in NPM"
Hi,

Is it possible to publish the vaadin elements in NPM? To avoid using bower. Polymer is available in NPM : https://www.npmjs.com/package/@polymer/paper-elements

[2016-09-21 08:46] samiheikki commented on #91
Hi @Chabane and thanks for your interest!

We just commented about this in vaadin-date-picker's repo. https://github.com/vaadin/vaadin-date-picker/issues/240

[2016-09-21 08:49] Chabane commented on #91
Thanks

I hope that Polymer 2 will be available in NPM

[2016-09-21 08:49] #91 closed, assigned to nobody

[2016-09-21 20:56] niveo commented on #49
this don't works

[code]

[2016-09-22 10:17] bastienlemaitre opened #92 "Error: The Polymer element "iron-form" has not been registered."
Hi, i have many problems with the iron-elements.
With paper-elemets i have no errors, but when i use iron-elements:
- Error: The Polymer element "iron-form" has not been registered. Please check that the element is imported correctly.

Any issues ? Thank you !

[2016-09-22 10:25] Chabane commented on #92
Hi,

Have you added iron-form in index.html?

`<link rel="import" href="bower_components/iron-form/iron-form.html">
`

And declare it in your module :

[code]

[2016-09-22 11:31] bastienlemaitre commented on #92
Yes i've added it.

[2016-09-22 15:23] niveo commented on #41
In my case, PolymerElement don't works with AppModule for all modules.

I need import PolymerElement('paper-input') in all modules.

I use static class and works.

[code]

[code]

[2016-09-22 18:58] Chabane commented on #59
@samiheikki it doesn't work with vaadin-grid, do you have any ideas ?

[code]

thanks

[2016-09-22 19:18] samiheikki commented on #59
Custom CSS properties and mixins should be added to the actual element, and not to any element inside the element's light DOM. So the correct code would look like something like this:

[code]

[2016-09-22 19:26] Chabane commented on #59
Thanks. It does not seem to work.
I need to apply the style only for some cells. So I did something like that :

[code]

But it doesn't work.

[2016-09-23 05:16] samiheikki commented on #59
Using `--vaadin-grid-row-cell` mixin does not work in this use. That mixin is applied to every cell element of vaadin-grid.

[2016-09-23 10:46] Chabane commented on #59
Thanks. I solved the issue with this solution :

[code]

[code]

It's not pretty, but it works fine :+1:

[2016-09-27 08:15] JohannesRudolph commented on #54
I'm seeing similar errors when importing an npm library in tests via `ng test`, not sure if this is related.

[2016-09-27 09:38] tomivirkki opened #93 "Add disabled to formElementDirective"
Currently the formElementDirective doesn't forward a formControl's disabled state to the component.

Workaround: `<vaadin-date-picker [attr.disabled]="birthday.disabled || undefined" ...></vaadin-date-picker>`

[2016-10-03 04:54] ythanaseelan commented on #32
@5amfung @liongoncalves Did you figure out the TypeError: undefined is not an object (evaluating 'Polymer.Settings') issue?

[2016-10-03 11:55] Saulis commented on #64
Can't see any workarounds – this function should probably be refined a bit to create `custom-style` elements only when `css` has Polymer css mixins or properties present.

[2016-10-03 12:00] Saulis commented on #85
Looking at this snippet, looks like the function given to `setTimeout` isn't scoped properly – `this.dataForColumnChart` isn't the components property.

Does this work?

[code]

[2016-10-03 12:02] Saulis commented on #56
@surya84 did you try the suggestion above? Is this still an issue?

[2016-10-03 12:09] Saulis commented on #92
Hi!

As `PolymerElement('x-element')` looks for elements named `<x-element>` it doesn't work with Polymer elements that have been extended from native elements like `<form is="iron-form">`.

As a solution in this case I'd suggest using Angular2 form component instead. Another alternative is creating a custom Polymer element that wraps the `<form is="iron-form">`.

For the future, looks like extend

[2016-10-03 12:15] Saulis commented on #41
@jeswinjames24 is this still an issue for you with the `v1.0.0-beta5` and ng2 final?

@niveo not sure if your problem is related with the original issue? If not, please file a new issue.

[2016-10-04 20:12] ananda121 opened #94 "Issue regarding build the prod"
Hi,
I am using angular 2 gulp and typescript in my project.

Now I want to use Vaadin elements in my project, So I follow this project and add a combobox to my project.
It is running as expected.

But I got error when I try to create a prod-build the project using gulp.

Please anyone help me on this.
Is there any seed project using vaadin which has prod build.

Thanks,
Ananda

[2016-10-04 20:15] Chabane commented on #94
Hi @ananda121,

Can you provide the stack trace?

[2016-10-05 03:59] ananda121 commented on #94
All js and html files from bower_components include in index.html are not found after build run.
Any seed project for gulp project.

[2016-10-07 11:37] platosha opened #95 "Calling `.reset()` on a form control does not set pristine flag to true"
Happens with `<vaadin-date-picker>`.

Resetting pristine flag requires to call `.reset()` several times.

Live demo: https://plnkr.co/edit/io5iBCw5jPUNpZsHViUV?p=preview

[2016-10-07 16:19] alindsay55661 opened #96 "iron-list / template example"
Hi, so this library looks really sweet. While your docs have examples of Vaadin components in action, I couldn't find any examples of google's polymer elements. Right now I am trying to figure out how to deal with things like `*ngFor` and templates. Could you provide the Angular equivalent of this Polymer snippet?

[code]

I have successfully imported and rendered the component using the below syn

[2016-10-08 15:07] JunedS commented on #96
I am too looking for a solution for this.
Shouldnt it be good if Vaadin can provide some examples for all polymer elements? It will make things very clear.

Thanks

[2016-10-10 07:17] Saulis commented on #96
Hi!

Unfortunately, the `<template>`, as @alindsay55661 stated, is getting "wiped" by Angular.
For `<iron-list>`, there currently isn't any workaround available to work with Angular's templating engine.

There's some discussion here: https://github.com/PolymerElements/iron-list/issues/291#issuecomment-251354454

[2016-10-10 11:42] DanielGarciaMandillo commented on #86
Hello,

Same problem here:

Error: Error encountered resolving symbol values statically. Calling function 'PolymerElement', function calls are not supported. Consider replacing the function or lambda with a reference to an exported function

Any solution? Thanks

[2016-10-10 12:32] elvisbegovic opened #97 "add polymer"
ENHANCEMENT

I just try to add polymerelement into my angular-cli beta16 project and it's so hard, I except from 3th party lib to inject it into declaration : [] that's all, I think  actually isn't easy to add polametelement into ng2 app,

Why it's so complicate? We different angular2 configuration (of course your's different) I try to add polymer-element into my angular-cli project and I don't un

[2016-10-10 14:09] vlukashov opened #98 "paper-dialog-scrollable is broken: sizingTarget is not set correctly"
Here is an example in Plunker: https://plnkr.co/edit/9nzSNs7Kd04IfStwnHuh?p=preview
### Summary

Create a popup _paper-dialog_ with a scrollable content as in [this](https://elements.polymer-project.org/elements/paper-dialog-scrollable?view=demo:demo/index.html&active=paper-dialog-scrollable) example from the Polymer docs. See that when the browser window is not big enough to fit the entire dialog

[2016-10-11 06:52] platosha commented on #96
One possible workaround is to wrap `<iron-list>` with its template in another Polymer element, that is registered outside Angular templates. For example, create my-list.html:

[code]

Then import it in index.html, just like any other Polymer element:

[code]

Then you can use the `<my-list>` element in declarations (`PolymerElement('my-list')`), as well as in Angular templates. The `<iron-list>` t

[2016-10-11 08:46] Saulis commented on #98
Thanks for the detailed issue description!

Looks like [`sizingTarget`](https://github.com/PolymerElements/iron-fit-behavior/blob/master/iron-fit-behavior.html#L71) doesn't have `notify: true` which in this case results in a situation where the angular2 component doesn't get notified that the value was changed inside `_ensureTarget()`.

It's a tricky thing, since technically an element should not

[2016-10-13 09:45] cschroeter opened #99 "Bug: Input elements emit change events twice"
Paper-Input, Paper-Textarea and most likely other form components emit a value change event twice. This leads to all validators running twice and a major performance decrease.

[code]

[code]

Here the output on Chrome console

[code]

[2016-10-13 11:20] cschroeter commented on #99
This issue is related to https://github.com/PolymerElements/paper-input/issues/66

Apparently both the IronFormElementBehavior and PaperInputBehavior declare the value property, enforcing two change events

[2016-10-13 12:12] cschroeter commented on #99
[code]

[2016-10-13 12:28] cschroeter commented on #97
To use Polymer components you have to use Bower. There are packages available on NPM but they are outdated. This leads to the fact that you have to include another package manager into your project.

Polymer is build on top of webcomponents. Not all major browsers supporting those new APIs. Thats why you have to add polyfills and delay the bootstrap until those polyfills have been loaded.

That ar

[2016-10-13 13:15] platosha commented on #90
The timeouts clearing issue was fixed in Zone.js.

E2E tests are now working with master Zone.js.

[2016-10-13 13:16] #90 closed, assigned to platosha

[2016-10-17 09:37] herkulano opened #100 "Add support for Polymer 2"
With Polymer 2 in beta it would be great to start working with it along with Angular 2.

[2016-10-17 17:56] asaph26 commented on #86
It would be really good to know if there is an alternative that will be provided

[2016-10-18 14:02] vlukashov commented on #95
This is probably the same issue: https://embed.plnkr.co/eD8BeYrzTuWyGF3wLCWd/

Polymer elements in an angular form appear initially dirty whereas native elements appear initially pristine. In order to reset the pristine flag, it takes to call form.reset() twice.

[2016-10-19 15:26] ybarbaria opened #102 "Failed to load resource: .../iron-component-page/iron-component-page.html"
Hello,

I have this error in both browser, but with IE,Edge and firefox, this error break my app angular2.
This error apear on my application since I use your component vaadin.
But works with chrome.
I have any solution?
Thx

Yvan

![errorironcomp](https://cloud.githubusercontent.com/assets/5574663/19525432/3490a898-9621-11e6-8292-9b4bdb6d38de.PNG)

[2016-10-20 06:35] platosha commented on #102
I believe you can install this element with bower:

[code]

But seriously, normally it should not be required. It’s an element that renders documentation pages for Polymer elements, probably not directly useful for your app.

Please try to find, what tries to load it. Looking for a `Referrer` header for the request of `iron-component-page` in the network log inside browser developer tools might he

[2016-10-20 07:58] ybarbaria commented on #102
Hello @platosha,

Yesterday, I have installed icon-component and was worst,

I find the referrers :

`<link rel="import" href="../iron-component-page/iron-component-page.html">`

inside index.html from vaadin-data-picker, vaadin-combo-box ...

[2016-10-20 08:26] ybarbaria commented on #102
@platosha
My mistake, i have imported  `<link rel="import" href="lib/paper-button/index.html" />`  instead of `<link rel="import" href="lib/paper-button/paper-button.html" />`

Sorry for the distrub !
thx again

[2016-10-20 08:28] #102 closed, assigned to nobody

[2016-10-21 11:25] mbeckenbach commented on #86
I get the same message like @DanielGarciaMandillo
As far as i understood the i18n of ng2, AOT will be required to compile apps with multiple languages.

[2016-10-21 14:53] dcoblentz commented on #86
I spent the last couple of days playing with this, and the only way that I could come up with was to generate source code for each element ahead of time.

For instance, write a base class that looks something like this:
export class ChangeEventsAdapterDirective {

[code]

}

And then add an implementation for each element, along these lines:

@Directive({
    selector: 'paper-tabs',
    host: {

[2016-10-21 22:47] asaph26 commented on #86
@dcoblentz Had a similar thought but didn't want to go down that route. Awesome work on your part. If this is the only way to achieve this for now, what do you think about creating a separate repo and sharing the definitions that you have and we could collaborate to bring all paperElements into it

[2016-10-22 08:47] sobvan commented on #86
I think AoT is essential with Angular 2.
The 2+ sec parse time (which seems to be 10 sec on a tablet) just really not lives up to the promise of Angular 2.
On the other hand, Material 2 will be soon there where Polymer elements are now (IMHO). So it is a good question if this is worth the effort.
Do you guys think that it is of added value to maintain Polymer Angular 2 bridge in the long term? If

[2016-10-22 09:14] mbeckenbach commented on #86
@istvanszoboszlai
1. AOT is a must have when dealing with i18n in angular2
2. I don't think Material 2 will be comming "soon" when I take a look at their roadmap
3. The Angular Material 1 Datepicker was crap, I don't really trust them for V2.
3. Material 2 has no file upload component in their roadmap
4. Since the first day of Material 1 they promise a grid, but they have never delivered one
5. Th

[2016-10-22 13:51] rstpv commented on #86
One thing to note about dcoblentz solution, it does enable two way data binding. But, it will require shadow dom fully enabled if you want to use components with content/slot.
For example, using shady dom, something like:

`<paper-input><span suffix>$</span></paper-input>`

Won't work, because of the Polymer.dom dependency on web components with shady dom (As far as I saw, it won't be required on

[2016-10-22 18:08] asaph26 commented on #86
@rstpv I believe we could still continue to use a combination of both. The solution provided by @dcoblentz makes the directive declarations for each component static(which is required for AOT to work). We could still use the PolymerShadyDomAdapter provided by angular2-polymer as it is not directly linked to the creation of the directives but rather sets the Root DOM Adapter.

[2016-10-24 07:17] samiheikki commented on #100
Hi @herkulano and thanks for your interest.

Polymer 2.0 is still in Alpha-preview and not recommended for production. So for the time being, we are not upgrading this to work with 2.0. But there is a possibility that after Polymer 2.0 becomes more stable (beta/RC/stable) we'll upgrade this package also. But nothing yet in our roadmap.

For future readers, please 👍 (+1) this issue if you feel that

[2016-10-24 13:35] dcoblentz commented on #86
This is pretty rough, but here's a gist with the code I wrote, it's all pretty rough still, but I copied the output from my browser console to a new ts file, but it would of course be better to turn it into a cli tool that can generate each file directly.

https://gist.github.com/dcoblentz/b16e97bc5671a8c31ab65add8c88b041

[2016-10-24 18:01] sstorie commented on #87
What about just using vanilla webpack? I'm trying to just get a basic setup working without angular-cli, and I'm running into this same error when I add something like `PolymerElement("paper-button")` to my app module:

As others have reported, once I remove the declaration from the app module the app loads just fine.

[2016-10-26 08:20] samiheikki commented on #97
Hey @istiti

As @cschroeter mentioned Polymer elements uses Bower and in an npm powered framework, it requires some extra work. Polymer team is currently working on serving their elements in npm with yarn. When this happens, we'll surely simplify the process for using Polymer elements in Angular 2.

But right now, we are unable to simplify it.

[2016-10-26 08:20] #97 closed, assigned to nobody

[2016-11-03 22:31] Splaktar commented on #64
I have been seeing issues with material2 styles and it looks like this is the culprit. It's unfortunate that this is still sitting here unassigned :(

@Saulis Do you know how to detect if the css "has Polymer css mixins or properties present"? I'm guessing that this would need something more than just looking for `@apply` and CSS Variables? But wouldn't inspecting all of the contents of the style

[2016-11-04 06:25] Splaktar commented on #33
I was finally able to get Vulcanize to work for my project. You can see the code here: https://github.com/gdg-x/nexus/tree/angularFinalUpgrade. One of the key issues that I had to deal with was the location of my style element that enabled `iron-flex` layout features. Once I had that in the right location though, everything worked fine.

I'm using an NPM task to run Vulcanize.

[2016-11-05 05:32] Splaktar commented on #64
Actually, I debugged my issues further and with or without the `is="custom-style"` there was no change in behavior or Material2 styles. I found that I needed to configure Material2's new [theming system](https://github.com/angular/material2/blob/master/docs/theming.md#defining-a-custom-theme) for my app. After that, everything is working as expected with styling.

[2016-11-05 23:46] jaichandra commented on #64
@splaktar can you share some details on how you configured material theming system to get it to work with polymer?  Would be very helpful.

[2016-11-07 08:13] jouni commented on #86
We’re going to do a quick round of prototyping (2d timebox) to get a better understanding about this, what would be a viable fix for this issue.

[2016-11-07 08:21] sobvan commented on #86
Best news today so far :)

[2016-11-10 11:46] logvi commented on #64
The same issue for me. Can you please describe how to solve it?

[2016-11-11 00:23] Splaktar commented on #64
@jaichandra @logvi you can see the repo [here](https://github.com/gdg-x/nexus) and I have a blog post about upgrading from Angular 2 RC.4 and getting this working again [here](https://blog.devintent.com/upgrade-from-angular-2-rc4-to-final-with-angular-cli-7ef590b2d35d#.kbqgd8hgx).

[2016-11-11 15:03] sobvan commented on #86
@dcoblentz, this is really awesome what you did. I do not get the whole process, however. How do you generate output.ts? Can this be applied to vaadin polymer elements, too?

[2016-11-14 13:40] logvi commented on #64
@Splaktar  Hm, it doesn't help me :(. I added custom theme but styles still overwritten by `is="custom-style"`

[2016-11-15 03:27] Splaktar commented on #64
@logvi the styles aren't overwritten, they just get the `is="custom-style"` attribute added to them. It doesn't break anything for me. What problem are you seeing exactly?

[2016-11-16 11:45] Chabane opened #103 "Using phantomJS with angular-cli & angular2-polymer"
Hi,

I included phantomJS in my angular-cli project.
I added webcomponent dependency into test.ts.

[code]

When I launched "ng test", I got this error :

`
  START:
PhantomJS 2.1.1 (Windows 7 0.0.0) ERROR
  {
    "stack": "webpack:///C:/<DIRECTORY>/~/@vaadin/angular2-polymer/src/polymer-element.js:59:0 <- src/test.ts:73708:12\n__webpack_require__@webpack:/webpack/bootstrap%20ec86e9b7e9a670e68547:

[2016-11-16 15:42] clydin commented on #100
This may need to be accelerated.  Angular 2.2+ direct renders to the DOM now.  The trick of modifying the DomAdapter doesn't seem to work.
One of Polymer 2.0's big improvements is the elimination of the need for `Polymer.dom`.

[2016-11-17 13:29] samiheikki opened #104 "angular2-polymer does not work with shady DOM in Angular 2.2.0"
Possible cause: https://github.com/angular/angular/commit/d708a8859ca3078a98e371b33ad560096070ad00

[2016-11-17 13:33] samiheikki commented on #100
@clydin I confirm the problem with Angular 2.2.0. Created a new issue for it #104 and will be the next we'll be working on.

[2016-11-17 14:10] niveo opened #105 "ANGULAR-CLI 1.0.0-beta.20-4"
Prefix, sufix and other things don't work with CLI 1.0.0-beta.20-4...
any idea whay?

`<paper-input label="Usuário"><iron-icon icon="user" prefix></iron-icon></paper-input>`

![image](https://cloud.githubusercontent.com/assets/5286878/20392103/86efb8b0-acbd-11e6-97fb-0ed25d437b28.png)

thanks...

[2016-11-17 15:28] rstpv commented on #105
Probably related to #104
The angular dependency in the cli beta.20-4 Angular dependency is: "@angular/core": "^2.1.0",

[2016-11-17 16:19] niveo commented on #105
works thanks

[2016-11-18 22:58] merobal commented on #104
+1, looking forward for the fix!

[2016-11-21 10:09] samiheikki commented on #104
As a temporary workaround, you can use angular2-polymer with Angular v.2.0.x or v.2.1.x.

[2016-11-21 15:32] platosha commented on #104
### The Cause

Starting from v2.2, Angular uses direct DOM rendering in browser. `BrowserDomAdapter` is not invoked by `Renderer`.

Therefore, changing the default `BrowserDomAdapter` to `PolymerDomAdapter` trick used in `@vaadin/angular2-polymer` is not helpful anymore.

### Impact

The issue breaks setting Light DOM for Polymer elements in Shady DOM mode of Polymer v1.0.

### Workarounds

Switch

[2016-11-22 06:59] manolo commented on #104
Good analysis ! . Do you have any estimation for the polymer renderer implementation ?

[2016-11-22 08:08] platosha opened #106 "Document light DOM limitations and workaround for Angular v2.2+"
Starting from Angular v2.2+, in order to make light DOM of Polymer elements work as expected, users have to switch Polymer to Shadow DOM mode and use the full Shadow DOM v0 polyfill.

[2016-11-22 08:09] platosha commented on #105
The same issue as #104. See that for more information.

[2016-11-22 08:09] #105 closed, assigned to nobody

[2016-11-22 08:10] samiheikki commented on #86
We finished our research. Highlights below. Currently https://github.com/vaadin/angular2-polymer/issues/104 is prioritized as the next fix in the future, but after that AoT support will probably be the next one. ETA 2017Q1.

## Problem

When following the Angular’s AoT guide (https://angular.io/docs/ts/latest/cookbook/aot-compiler.html) the development with angular2-polymer will fail when trying t

[2016-11-22 08:13] platosha commented on #104
It is decided to postpone implementing the solution of this until early next year. For now we will just document this limitation and the workaround, see #106.

[2016-11-23 09:50] #106 closed, assigned to nobody

[2016-11-24 10:26] Chabane commented on #103
No one develop unit tests using angular2-polymer & angular-cli ?

[2016-11-24 15:09] Chabane commented on #103
I found the solution here https://github.com/moroale93/angular-cli-polymer-karma-base

You need to edit karma.config.js and test.ts

[2016-11-24 15:09] #103 closed, assigned to nobody

[2016-11-25 14:31] cdupetit commented on #32
@ythanaseelan I have the same error. Any idea ?

[2016-11-26 07:46] ythanaseelan commented on #32
@cdupetit The issue happens for me only for jasmine testing with phantomjs. Couldnt get any workaround for that. So I ended up not accessing the polymer components in the jasmine tests and limited my testing only to the code written for Angular layer.

[2016-12-03 16:50] quentinchap commented on #32
@liongoncalves same issue just on safari on my website (http://quentinchapelle.com) and for the moment i haven't find any solution :(

**Edit:** problem solve thank to https://github.com/vaadin/angular2-polymer/issues/57 there is a guide here to resolve this problem https://github.com/vaadin/angular2-polymer/blob/master/docs/ng-cli-webpack.adoc

[2016-12-04 06:49] divanvb opened #109 "How to use iron-flex-layout"
Hi, how would I go about using iron-flex-layout?

I have included it in my html but it doesn't work when adding the relevant element to my child html files?

[2016-12-05 09:00] platosha commented on #109
Unfortunately, using mixins from `iron-flex-layout` in Angular component styles doesn’t work anymore because of #104.

By the way, using `iron-flex-layout` could be completely unnecessary these days, since most of the browsers support [CSS flexbox](http://caniuse.com/#search=flexbox) without vendor prefixes. Now you can set CSS properties directly to achieve the same results with even less code an

[2016-12-05 23:20] virusakos opened #110 "Issue with component CSS"
As the title says, I am facing an issue with component CSS when working on an Angular2 CLI app.

I have followed the [Using Polymer Elements in Angular CLI Webpack Applications](https://vaadin.com/docs/-/part/elements/angular2-polymer/ng-cli-webpack.html) guide to setup my app.

According to the guide,

index.html
[code]

app.component.html
[code]

app.component.ts
[code]

app.component.css
[code]

[2016-12-06 08:46] Chabane commented on #110
I have a similar problem. After I updated to angular 2.2.3 all of my css has been impacted.

[2016-12-06 17:54] rumes opened #111 "Can't Use in Angular cli 22"
Can't add vaadin in angular cli 22. If we use
### main-polymer.ts
[code]
because BoostrapModule wrap by  another function in this case addEventListener it give error

[2016-12-06 21:27] virusakos commented on #111
You probably getting this error because you are building with --aot option.
Try building without --aot.

[2016-12-07 00:18] virusakos commented on #110
Looks like this is related to vaadin/angular2-polymer-quickstart#10 which is related to #104 so there is no need to have this open

[2016-12-07 00:18] #110 closed, assigned to nobody

[2016-12-07 04:24] rumes commented on #111
in 22 it is not a option it is embeded as i here. And as I here now on every angular2 3rd party library must have aot compatibility to use in angular cli. I thin vaadin not have that.

[2016-12-07 11:41] BorntraegerMarc opened #112 "How to reference images"
Hi guys

I've posted this question: https://stackoverflow.com/questions/41016503/angular2-vaadin-angular2-polymer-how-to-reference-images

Because I was not sure, if I should submit this here... I'm quite the noobie with webpack. Would be incredible useful if somebody could solve my problem :)

Cheers,
Marc

[2016-12-07 15:11] tomivirkki commented on #112
Hello @BorntraegerMarc

The syntax in your example at least looks ok `<paper-card image="img/home.jpg">`
So as long as the `<paper-card>` element gets properly upgraded this should work as expected.
Does your import of 'paper-input.html' work fine?

[2016-12-07 15:20] BorntraegerMarc commented on #112
Thanks for the answer @tomivirkki . Yeah I'm 100% sure that the import works.

Don't you think there is rather an error with webpack? Because I can't find the file, when I'm searching for it in the dev tools in the browser?

[2016-12-08 09:06] platosha commented on #112
@BorntraegerMarc I am pretty sure this is not related with Angular or our library, closing this. Please see my hints for your webpack setup on SO.

[2016-12-08 09:06] #112 closed, assigned to nobody

[2016-12-08 09:08] BorntraegerMarc commented on #112
You are correct @platosha  -> this has nothing to do with Angular or vaadin lib. But I was not sure, where to start searching... But thank you very much for your answer. I'll continue the discussion over there. Would be glad, if you could answer to my comment :)

[2016-12-08 11:23] Chabane commented on #111
with --aot I have this error :
[code]

[2016-12-08 11:26] Chabane commented on #104
In IE11, if I use
`assets/bower_components/webcomponentsjs/webcomponents.min.js `
instead of
`assets/bower_components/webcomponentsjs/webcomponents-lite.min.js`
The rendering is very slow

[2016-12-11 04:14] MarcelMalik commented on #111
Have the same problem :-/ :

[code]

[2016-12-12 12:46] erdem-aslan commented on #111
Same here...

[code]

[2016-12-12 13:59] MarcelMalik commented on #111
I try to fixed the error with modifying the "entry_resolver.js" as suggested (https://github.com/angular/angular-cli/issues/2887) and changed line 109 from this:
`var bootstrap = source.findAstNodes(source.sourceFile, ts.SyntaxKind.CallExpression, false)
`
to this:
`var bootstrap = source.findAstNodes(source.sourceFile, ts.SyntaxKind.CallExpression, true).
`

And move the content of main-polymer.t

[2016-12-12 18:11] axtlotic commented on #111
I was trying some work around, and maybe this could help you:

main.ts
[code]

this allows to build the project

[2016-12-13 18:10] axtlotic commented on #86
if some one needs, I used polymer-element.ts to implement a class for directives generation, it is not a CLI-tool, but generates directives for a component, I hope helps you:

polymer-directive-generator.ts
https://gist.github.com/axtlotic/06f8715a6ea0223af6fbd6cbf1266be7

app.component.ts
https://gist.github.com/axtlotic/36764dc3747526aaa6254b39dc78a106

app.component.html
https://gist.github.com

[2016-12-13 18:20] Splaktar commented on #104
It's really unfortunate that this is postponed to 2017 Q1. What is higher priority than not working with the latest version of Angular?

[2016-12-13 18:28] Splaktar commented on #111
Seems to be a dupe of https://github.com/vaadin/angular2-polymer/issues/86. Note that the Angular CLI beta.22 is quite broken in a number of ways.

[2016-12-13 18:35] Splaktar commented on #94
There isn't enough information here. Can you point to a repo with a reproduction? It sounds like there are things that your gulp build is doing wrong or not doing, but it can't be debugged or reviewed without a reproducible example.

[2016-12-13 23:54] axtlotic commented on #111
The two proposals I shared allowed to compile a project with Angular cli 22 (#111, #86), I hope helps you.

[2016-12-14 09:38] mpartipilo commented on #86
@axtlotic Could this be used to create a pre-built public package for all elements?

[2016-12-14 12:05] BorntraegerMarc commented on #86
Any ideas when this will be fixed?

[2016-12-14 12:55] BorntraegerMarc opened #113 "Best practices & how to combine angular form validators with polymer inputs"
Hi there

I have the following form:
[code]

And the following TS script to it:
[code]

How should I set up the paper-input to use the angular validation? Or do I always need to include validations twice? With `required` in the html template?

To specify my question a little bit:
I have for example a service call like this:
[code]

Now I am not sure on how to set the username input invalid with th

[2016-12-14 13:52] axtlotic commented on #86
@mpartipilo thanks, if this is possible, I would have to install all the elements in my project and modify it to generate the directives, I hope to get the complete list of elements and give me some time to do it

[2016-12-16 17:48] Splaktar commented on #104
Note: `Renderer` and `RootRenderer` interfaces are both still `experimental`.

They were able to make breaking changes to `BrowserDomAdapter` because it was a [private API](https://github.com/angular/angular/commit/d708a8859ca3078a98e371b33ad560096070ad00#commitcomment-20217389).

Since the APIs are experimental, they will continue to make breaking changes to [Renderer](https://angular.io/docs/ts/

[2016-12-16 18:03] Splaktar commented on #111
Angular CLI beta.23 is out and [fixes an issue](https://github.com/angular/angular-cli/commit/db25183341a43eab8f02f33938294a9cac8b5da3) with stripping out custom decorators. It looks like this will still be a problem due to #86 though.

[2016-12-16 19:27] Splaktar opened #116 "Questions about 1.0.0 release"
Based on RC1, RC2, and RC3 of 1.0.0 of this library coming out in the last 2 weeks, is the plan to release 1.0.0 using full Shadow DOM v0 and/or Angular 2.1.x or less?

I was surprised when I saw that this might be happening. But as I've thought about it, perhaps it makes sense to get a 1.0 out that works with Angular 2.0.0-2.1.x rather than re-architecting things during the RC phase (like Angular

[2016-12-16 19:31] Splaktar commented on #91
Not much movement on https://github.com/Polymer/polymer/issues/326 lately, but the Polymer team did say that they were actively working on it in the spring. Perhaps work on Polymer 2.0 is delaying this.

[2016-12-16 19:34] Splaktar commented on #109
I haven't had a chance to try it yet and it's still alpha (beta soon), but another option might be https://github.com/angular/flex-layout.

I think that there are more reasons to use a flex layout helper/library than just cross-browser support. Adding some sugar to the Flexbox API can make it a lot easier to learn and increase productivity for many developers.

[2016-12-17 01:28] hydraslay commented on #86
@axtlotic   Thanks for the generator.
but when I use the generated code in my component.
the ng build gave me this message:

chunk    {0} main.bundle.js, main.bundle.map (main) 26.1 kB {2} [initial] [rendered]
chunk    {1} styles.bundle.js, styles.bundle.map (styles) 9.99 kB {3} [initial] [rendered]
chunk    {2} vendor.bundle.js, vendor.bundle.map (vendor) 2 MB [initial] [rendered]
chunk    {3} in

[2016-12-17 01:44] hydraslay commented on #86
@axtlotic  ok that was a path mistake
I solved it by change
  templateUrl: 'app.component.html',
  styleUrls: ['app.component.css'],
to
  templateUrl: './app.component.html',
  styleUrls: ['./app.component.css'],

thank you for your generator , it's good enough for me now.

[2016-12-19 12:12] Chabane opened #117 "Disabling a paper-input doesn't seem to work"
Hi,

Disabling a paper-input doesn't seem to work.

`<paper-input  label="username " formControlName="username" required [disabled]="usernameCache"></paper-input>`

`<paper-input  label="username " formControlName="username" required [readonly]="usernameCache"></paper-input>`

I tried to do : this.loginForm.controls['username'].disable(); same result.

Any idea?

[2016-12-25 11:26] BorntraegerMarc commented on #113
Nobody? Harmless shutout to @samiheikki and @platosha :)

And I'm also talking about general topics (and best practices) like:

1. Should I use ngForm or iron-form?
2. How should polymer element methods be called? For example `validate()` on a `paper-input`
3. How do I display my `errorMessage` property when it is not empty in an `paper-input`. As this does not seem to work...

Any other best prac

[2016-12-25 11:31] Chabane commented on #113
You can use a custom validator. It works for me.

See https://dzone.com/articles/custom-validators-in-template-driven-angular-2-for

[2016-12-25 11:34] BorntraegerMarc commented on #113
@Chabane Thanks for the answer. I agree, they work for me as well. Did you somehow manage to display the updated errorMessage in an paper-input? As I'm struggling with that...

But I'm talking more about best practices rather then if something works :)

[2016-12-26 13:06] Chabane commented on #104
Any news about this issue?

We can't go more than angular 2.1.1 and angular cli 2.1.1. It's our limit with angular2-polymer.

[2016-12-27 20:28] aruntk commented on #32
I've built a package to handle polymer/webcomponents files and html imports (with code reload support) https://github.com/aruntk/wc-loader. check out.

[2017-01-04 18:54] rimvydas-urbonas commented on #104
+1

[2017-01-09 15:18] platosha commented on #116
You’ve guessed it right.

The version 1.0.0 is now out. It supports for using either with full Shadow DOM v0 polyfill or with Angular <= v2.1.

Speaking about the future, I have some news to tell. Unfortunately, v1.0.0 was the last release by Vaadin for the `angular2-polymer` library. We, the Vaadin Elements team, are going to focus on the main team purpose: developing Vaadin Elements, a set of hi

[2017-01-09 17:03] Splaktar commented on #116
That's understandable. I'm very happy to see that you are going to continue to contribute to this on the side! Thank for you your efforts!

I'm going to go ahead and pull most of my current projects off of Polymer (using Angular Material2 and ngBootstrap instead). But I'll be happy to try Polymer out again on new projects in the future should this re-write/re-name ultimately be successful. Perhaps

[2017-01-09 18:21] jaichandra commented on #104
@platosha You mentioned Polymer 2 should resolve this issue. Does it work in Polymer 2.0-preview version?

[2017-01-09 19:32] MarkPieszak commented on #116
Sad to hear that @platosha but I'm also available to help get things going, so keep me in the loop! It must stay alive :)

[2017-01-10 21:21] tomzi8 commented on #86
How to use this generator? How to implement this solution?

[2017-01-11 13:15] hydraslay commented on #86
@tomaszcysewski I created a generator project in Github here:
https://github.com/hydraslay/ng2-polymer-static-gen
And use the generated xxx.directives.ts file just like this project:
https://github.com/hydraslay/ng2-polymer-static

There is still something need to be adjusted in vaadin-date-picker and vaadin-grid while other paper-xxx works well.

[2017-01-11 15:23] tomzi8 commented on #86
Those are most used elements I think. I want to install this in order to use vaadin-grid. Let's make a request for this adjusting, who develop this generator generally?

[2017-01-13 06:59] 13842648081 opened #118 "Angular2-polymer does not support this polymer 0.5.x version?"
Hi，
I'm in the integrated angular2 and polymer,But when run my app I had a problem ,
--------------------------------------
**(index):66 Error: (SystemJS) Cannot read property 'useShadow' of undefined**
-------------------------------------
I am using polymer 0.5.2 version,
Perhaps Angular2-polymer does not support this polymer 0.5.x version?

Thanks and Best Regards!

[2017-01-13 18:33] yobud opened #119 "Can't get angular2-polymer working on angular 2.3.1"
Hi! Thank you for your awesome work!

Registering polymer elements as show in the readme no longer works on angular 2.3.1, because no function call is allowed in NgModule declaration.

I absolutely don't know how to make angular2-polymer working again, as PolymerElement function does some complex stuff.

Thank you for your help,

Jérémy

[2017-01-13 18:34] Chabane commented on #119
See the issue #104

[2017-01-13 18:49] yobud commented on #119
Thank you, got it working by using shadow dom. Hope it'll not be too slow with polyfill.

[2017-01-13 18:49] #119 closed, assigned to nobody

[2017-01-16 10:38] lumisoftusa opened #120 "Miss behave with Angular CLi"
Sometime ma it work sometime doesn't

[2017-01-16 10:43] limonte commented on #120
Your issue was closed by human, but this reply is automated.
This means that you haven't put enough effort in describing the issue.

Try to make it better. Good issue should contain:

- expected behaviour
- actual behaviour

Feel free to improve your issue and reopen it.

[2017-01-16 10:43] #120 closed, assigned to nobody

[2017-01-17 17:21] platosha commented on #104
@jaichandra I have not tried Polymer 2.0 yet, unfortunately.

[2017-01-17 17:28] platosha commented on #104
Meanwhile, I’m working on the `PolymerRenderer` implementation, proof-of-concept is here: https://github.com/platosha/angular-polymer-renderer

The idea seems to work. It still requires to import some private APIs, although they are not used in any way except to satisfy Angular’s `Renderer` API requirements. Still have TODO: implement styling support, ViewEncapsulation modes, add tests. Trying out

[2017-01-17 18:30] Splaktar commented on #104
Excellent! I would highly recommend discussing the use of the Private APIs with the Angular core team to determine if they can provide alternate solutions or start work on exposing those APIs as at least experimental.

[2017-01-18 01:52] jonathansolorzn commented on #111
Still no fix for this?

[2017-01-18 04:53] sanghyun5468 opened #1 "After adding angular-polymer, I get the following error"
please help me this my app problem

my app angular2 version 2.4.1

[0]     Subsequent variable declarations must have the same type.  Variable '[Symbol.toStringTag]' must be of type 'string', but here has type '"JSON"'.
[0]
[0] [at-loader] node_modules\typescript\lib\lib.es2015.symbol.wellknown.d.ts:146:14
[0]     All declarations of '[Symbol.toStringTag]' must have identical modifiers.
[0]
[0] [a

[2017-01-18 08:17] #1 closed

[2017-01-18 23:12] platosha commented on #118
Hello, @13842648081

yes, Polymer 0.5.x is not supported, and was actually never supported in `angular2-polymer` before. As for now, 0.5.2 is more than 2 years old.

Polymer v2.0 is under active development currently. It will use ES6 and the modern Web Components technology stack, that was agreed between multiple browser version. I would suggest to try it and upgrade when it is out.

[2017-01-18 23:13] #118 closed, assigned to nobody

[2017-01-18 23:14] platosha commented on #104
@Splaktar good idea. Filed a bug about it: https://github.com/angular/angular/issues/14001

[2017-01-19 15:57] DDOUP commented on #86
Unfortunately it is not working every time. If I am using a paper-dialog which has a vaadin-date-picker the dialog will not open.
If I delete the containing vaadin-date-picker the dialog is working again. The vaadin-date-picker is working, but not with the dialog.

And I have some problems with paper-input in the paper-dialog. They do not show their actual value.

Do you may have some suggestions?

[2017-01-20 15:36] DzmitryShylovich commented on #104
you can just use `any` instead of real types

[2017-01-20 16:42] platosha commented on #104
@DzmitryShylovich oh, that is true. Thank you!

The private imports have gone, cool. 🎉

[2017-01-21 18:42] BorntraegerMarc opened #121 "Adding a reference to https://github.com/platosha/angular-polymer"
So it is official that this repo isn't supported anymore (pitty, but that is how open source works). It would be fair to write this in the readme and point to https://github.com/platosha/angular-polymer. Which will take care of support for angular 2.2+ projects. This way the people are informed and might help with the development...

[2017-01-24 16:53] platosha commented on #2
Hi, thanks a lot for trying and giving feedback.

First of all, `CUSTOM_ELEMENTS_SCHEMA` is something that should be always on when you use Polymer elements (any Web Components, in general). Otherwise the Angular template compiler will, most probably, give you errors of incorrect template HTML.

Basically, `<template-anchor>` is a template anchor, the same as `` comment nodes you’ve probably seen

[2017-01-24 17:06] ZeBigDuck commented on #2
Hi and thank you for your answer,

In fact, these ``<template-anchor>`` replaces content that **is shown** if I disable Polymer module (it's a ngSwitchCase that allows or not rendering these dom elements).

That's why I guess this bug is related to Polymer module.

Btw I tried to use native polymer modules without any module (this one or vaadin's one), and this seems to work (and it's possible to

[2017-01-29 10:30] yankos opened #122 "Error of email protection script in docs"
Hello!
On page https://vaadin.com/docs/-/part/elements/angular2-polymer/overview.html yours email protction system hide including of angular.
![error_in_doc](https://cloud.githubusercontent.com/assets/375784/22403402/718de1fa-e61e-11e6-9064-bf896649947c.png)

[2017-01-30 13:49] platosha opened #123 "Volunteer collaborators are needed"
We are looking for collaborators to work on this project. If you want to become a collaborator, please leave a comment below.

Collaborator responsibilities include:
- Responding to issues
- Reviewing and merging pull requests
- Development contributions: add features, fix bugs

[2017-01-30 13:54] platosha commented on #121
The README is updated with the transfer notice.

[2017-01-30 13:54] #121 closed, assigned to nobody

[2017-01-31 02:49] synarque commented on #2
@ZeBigDuck see https://github.com/vaadin/angular2-polymer/issues/104

[2017-01-31 04:16] GuzmanPI commented on #111
Is there any way to fix this?

[2017-01-31 14:39] jaichandra commented on #2
I noticed the same issue and was thinking about how to use `runOutsideAngular` to wrap all Polymer events to improve performance. I am seeing quite a bit of performance degradation with nested elements - not just Vaadin elements, but basic `paper-elements` like `paper-menu-button`. Anybody looking at this. Any workarounds?

[2017-02-07 11:47] BorntraegerMarc commented on #123
I think we are already in contact :)

[2017-02-07 11:56] BorntraegerMarc opened #124 "Explain difference to angular-polymer repo"
Somewhere we need to display differences from this repo to https://github.com/platosha/angular-polymer

Where should that be and how are the two gonna live together?

In my view: there should only be one repo with different "beta" branches. Also in regard to angular naming convention: I think the repo should be named "angular-polymer". And not bound to a specific version number of angular

[2017-02-07 11:57] BorntraegerMarc commented on #124
@platosha please give your input here. I can do merge requests based on your decision

[2017-02-07 12:01] platosha commented on #124
@BorntraegerMarc agree.

`platosha/angular-polymer` is a temporary playground for the new DOM renderer. It is intended to be upstreamed here and replace the obsolete PolymerDomAdapter trick in this library.

After it is upstreamed, let us kill another repo and rename this to `angular-polymer`.

[2017-02-07 12:10] BorntraegerMarc commented on #124
All clear. Maybe we want to do the renaming already now? As I think the upstreaming will not happen very soon.

And this way we do not confuse all people that are already using the library later on (which I will suspect will be more then at the moment).

Renaming/rebranding stuff is always kinda a hazzle. In my experience it's best to do it as soon as possible...

[2017-02-07 12:13] platosha commented on #124
@BorntraegerMarc Right, makes sense. Done.

[2017-02-07 12:14] BorntraegerMarc commented on #124
gracias :)

[2017-02-07 12:14] #124 closed, assigned to nobody

[2017-02-08 11:14] nunna-suma commented on #111
I'm also facing the same error

fallbackLoader option has been deprecated - replace with "fallback" loader option has been deprecated - replace with "use"
fallbackLoader option has been deprecated - replace with "fallback" loader option has been deprecated - replace with "use"
fallbackLoader option has been deprecated - replace with "fallback" loader option has been deprecated - replace with "use"

[2017-02-08 11:36] BorntraegerMarc commented on #111
Hi @nunna-suma

We will begin to work on a fix as soon as possible. But to support AoT a lot of changes are necessary. We will keep you updated and if anybody could help us develop please raise your voice here: https://github.com/platosha/angular-polymer/issues/123

I think a fix will be published in a few months the soonest.

[2017-02-08 11:37] BorntraegerMarc commented on #116
@MarkPieszak and @Splaktar

If your willing to help us out:
https://github.com/platosha/angular-polymer/issues/123

We appreciate it :)

[2017-02-08 12:09] MarkPieszak commented on #123
@platosha Is there a Slack channel or anything we can all talk in?
Maybe we can make a channel in the Polymer Slack?

But yes, definitely would like to help out!
Do you have a design doc or anything about how it's all put together currently, wanted to see if any private pieces of Core we're touching will be affected in 4.x in March. @platosha

[2017-02-08 12:35] BorntraegerMarc commented on #123
Good idea. I was in the process of creating an own https://angular-polymer.slack.com. What makes more sense? To integrate in the existing polymer slack or a new one? In my opinion to get a channel in the existing polymer slack would be a bit better...

Friendly ping to @platosha :)

[2017-02-08 12:56] MarkPieszak commented on #123
I think we should stay close to Polymer, we might as well be in there.

[2017-02-08 12:57] BorntraegerMarc commented on #123
Agreed. I've already made a request in their slack for an own channel. I hope it's possible...

[2017-02-08 13:12] platosha commented on #123
Works for me.

If using Polymer Slack is not possible, I would prefer to create a Gitter chat over Slack then. I like the gitter UI more, and also the webcomponents.org community chat is there.

[2017-02-08 13:26] platosha commented on #123
@MarkPieszak We don’t have a design doc yet.

In short, pretty much all the current implementation is in the single file `src/polymer-element.ts`, and most of the job is done by the exported `PolymerElement(name: string)` function. The idea there is simple: it takes an element name from the argument, extracts the element’s prototype, generates a few directives based on the prototype, and returns t

[2017-02-08 13:31] MarkPieszak commented on #123
Perfect yeah let me take a look at the implementation to see where I can help out!

[2017-02-08 14:13] lumisoftusa opened #126 "Polymer Dialog"
I am loving Polymer with Angular 2 all were fine and perfect but iam facing some serious problems in iPHONE and iPad .
1) If i use Polymer Dialog as a modal so i cannot even interact with the dialog its stuck.
2) Secondly my dialog even if i do not use modal dialog does not show on top of the screen.

Please help me my app is ready to publish but due to these two issues iam not able to move forwar

[2017-02-08 14:15] BorntraegerMarc commented on #126
Hello @lumisoftusa
I've experienced similar issues as well. Please note that there are some bugs going on with paper-dialog itself from polymers side. Could you create a plunkr or something with some code?

My first mistake was that I had to put the dialog element in app.component.html to get it to work. Does this help you out?

[2017-02-08 14:18] BorntraegerMarc commented on #117
@Chabane To disable the form from the angular way is not possible as far as I know. (at least at the moment)...

Could you try to use something like:
[code]

And this:
`<paper-input [disabled]="yourAngularBoolean"></paper-input>`
Should work

[2017-02-08 14:23] BorntraegerMarc commented on #99
@cschroeter I think we could close this issue, right? Apparently it's an polymer issue...

[2017-02-08 14:24] BorntraegerMarc commented on #96
@platosha Should I put this in the docs and close this issue?

[2017-02-08 14:26] BorntraegerMarc commented on #92
@platosha Should I put this in the docs and close the issue?

[2017-02-08 14:28] BorntraegerMarc commented on #56
Closing the issue as there is no more feedback ...

[2017-02-08 14:28] #56 closed, assigned to nobody

[2017-02-08 14:29] BorntraegerMarc commented on #51
Can this issue be closed?

[2017-02-08 14:31] BorntraegerMarc commented on #33
Can we close this issue?

[2017-02-08 14:57] platosha commented on #96
@BorntraegerMarc yes.

[2017-02-08 15:01] platosha commented on #92
@BorntraegerMarc yes, please.

In general, it is possible to support extended native elements, but I don’t think this is useful enough. This is going to be dropped in Polymer soon anyway.

[2017-02-08 15:02] #51 closed, assigned to nobody

[2017-02-08 15:05] #33 closed, assigned to nobody

[2017-02-08 15:41] BorntraegerMarc opened #127 "Merge npm package to this repo"
Merge the existing https://www.npmjs.com/package/angular-polymer npm package so that this repo is used to publish new versions. I'm not expert but maybe we can use something like this:
https://docs.npmjs.com/cli/unpublish

[2017-02-08 15:42] BorntraegerMarc opened #128 "Create new demo"
Something like http://demo.vaadin.com/expense-manager-ng/ but more lightweight...

[2017-02-08 15:47] BorntraegerMarc opened #129 "Configure CI build"
Either use CircleCI or travis. My favorite is CircleCI for numerous of reasons. But maybe we vote. I can set it up as soon as I have some results...

Vote below:

[2017-02-08 15:48] BorntraegerMarc commented on #129
CircleCI (https://circleci.com/)

[2017-02-08 15:48] BorntraegerMarc commented on #129
Travis (https://travis-ci.org/)

[2017-02-08 16:23] MarkPieszak commented on #127
Yeah whoever has login & write privileges to the old vaadin package, should (instead of unpublishing it, right now at least) *deprecate* the newest version of the vaadin one, so we can start making all new updates to `angular-polymer` instead. Eventually we can unpublish the other one a year from now or something maybe?

[2017-02-08 16:27] BorntraegerMarc commented on #127
I think the problem is more related to a recent repo rename. The angular-polymer that is published actually belongs to this repo: https://github.com/platosha/angular-polymer-renderer

And because @platosha himself published it only himself can change it again...

[2017-02-08 16:30] Splaktar commented on #116
OK, I am following that issue now.

[2017-02-08 16:30] #116 closed, assigned to nobody

[2017-02-08 17:28] MarkPieszak commented on #127
Ahh didn't know it existed already apologies! Yes then we'd want to un-publish for sure.

[2017-02-09 05:41] lumisoftusa commented on #126
Well I really need to fix this issue I was in pain a lot of pressure from the management because it was my decision to port Angular 2 apps into Polymer , Please community help me out this issue any trick or tweak .

[2017-02-09 09:53] cschroeter commented on #99
@BorntraegerMarc I think so :)

[2017-02-09 09:53] #99 closed, assigned to nobody

[2017-02-09 22:20] BorntraegerMarc commented on #126
Yes I would like to help you out but it is kinda difficult without your source code. Could you maybe create a plunkr or something?

Dialog generally works for me...

[2017-02-10 11:24] platosha commented on #127
No need to unpublish it, npm registry is not bound to github.

Since I have registered and have rights over https://www.npmjs.com/package/angular-polymer, technically I can publish this package from this repo already.

[2017-02-10 11:24] #127 closed, assigned to platosha

[2017-02-10 17:44] jsertx opened #130 "Using with angular-cli"
I followed the documentation for using angular-polymer with angular-cli, but I cannot get it working.

I do everything, step by step, and I finally get:

`ERROR in {app_root_dir}/src/app/app.module.ts (7,32): Cannot find module '@vaadin/angular2-polymer'.)
`

Also, I find something interesting, in the folder node_modules/@vaadin/angular2-polymer there is no polymer-element file, only another node_

[2017-02-10 18:27] BorntraegerMarc commented on #130
Yeah, there are quite some files missing from the dependency. I would recommend to clear the npm cache and try again

[2017-02-10 19:30] #92 closed, assigned to nobody

[2017-02-10 19:30] #96 closed, assigned to nobody

[2017-02-10 21:55] BorntraegerMarc commented on #113
was solved with https://github.com/platosha/angular-polymer/commit/e1441562f86ad343fbea85b0bf1bf36cef5f8f2e

[2017-02-10 21:55] #113 closed, assigned to nobody

[2017-02-10 22:34] BorntraegerMarc commented on #129
@platosha Could you set this up? I don't have the necessary rights... And if you could create a free open source account at browserstack.com that would be cool :)

Then I could include some E2E tests...

[2017-02-10 22:47] BorntraegerMarc opened #131 "tests fail with newest jasmine-core lib"
Tests fail with jasmine-core 2.5.2

[2017-02-11 10:16] jsertx commented on #130
@BorntraegerMarc I tried the following:
1) Uninstall the package:
`npm uninstall @vaadin/angular2-polymer`
2) Clear the cache of NPM
`npm cache clear`
3) Install forcing to download again the resource
`npm install --force @vaadin/angular2-polymer`

And still I have the same result, the funny fact is that it worked a few days ago in other project, but it was not an angular-cli one.

[2017-02-11 10:38] BorntraegerMarc commented on #130
There was an deprecated way to install angular cli in the docs. changed it now to `npm install -g @angular/cli` does that help you?

[2017-02-11 22:40] stephanrauh opened #133 "Error encountered resolving symbol values statically"
If I interpret the error message correctly, Angular 2.4 doesn't allow functions in the `AppModule`. However, my search also revealed similar error messages indicating missing metadata. Be that as it may, adding a Polymer element to the AppModule causes compile errors.

I've added the declaration of a Polymer element to the @NgModule:
[code]

Running `ng serve` on @angular/cli version 1.0.0-beta.31

[2017-02-11 23:54] MarkPieszak commented on #133
It's only compatible with CLI 21 and lower, and Angular 2.2 I believe. We are currently looking at upgrading the project for the latest versions.

[2017-02-12 17:55] manekinekko commented on #123
Hi. I would like to help out. Btw, have you seen this interop work https://github.com/webcomponents/angular-interop?

[2017-02-12 18:45] MarkPieszak commented on #123
Wassim! Now it's a party :beers:

[2017-02-12 18:50] BorntraegerMarc commented on #123
@manekinekko Never seen it but seems cool. Did you try it for production use? And how does it differ to this implementation?

[2017-02-12 22:46] manekinekko commented on #123
@MarkPieszak haha! good to see you here. I'm glad Michael Prentice sent me here ^^

@BorntraegerMarc the interop implementation is straightforward. My goal was to use vanilla  Polymer with raw Angular (>=2) without any glue code (or at as little as possible). So this interop repo tries to serve as an implementation reference. It's not a library.

FYI, I've also implemented another interop repo for

[2017-02-12 22:51] MarkPieszak commented on #123
2 way binding with polymer mainly. @platosha could answer that best

[2017-02-13 01:45] Splaktar commented on #123
It also does some work to hook up Form events and inputs with Polymer web components. In the past, it has had issues with accessing the window object to get window.Polymer which doesn't play well with Universal. So in addition to switching to the new Renderer interface, it would be nice to get it working with Universal.

[2017-02-13 01:51] MarkPieszak commented on #123
@Splaktar Yeah definitely, we want it to play well with Universal/web-workers for sure. I talked with @platosha the other day so I started looking into a few things to get everything going to get the project up to date with everything.

We'll be switching everything to use the `Renderer`
At the very least just ignore `window.Polymer` and bail out if it doesn't exist, so we won't be able to *render

[2017-02-13 05:18] Splaktar commented on #123
I'm in the Polymer Slack, but I can't keep up with things in general. A specific channel would be really helpful.

[2017-02-13 07:51] BorntraegerMarc commented on #123
We just got the https://polymer.slack.com/messages/polymer-angular/ channel :)

[2017-02-14 12:26] dispeakble commented on #59
@samiheikki Hi. I'm using an angular2 app with `<router-outlet></router-outlet>`
so when I tried the example:

<style is="custom-style">
  vaadin-grid {
  --vaadin-grid-row-cell : {
    background: red;
  }
}
</style>
<vaadin-grid #grid="" id="my-grid" selection-mode="multi" [items]="gridItems" column-reordering-allowed="true">[...]</vaadin-grid>

The background of the cell is still the default on

[2017-02-14 12:29] BorntraegerMarc commented on #59
Hello @dispeakble
Angular has an own way of dealing with styles for components. Could you create some more of your code or create a plunkr? Then I might be able to help you. I'm using custom css myself in our app and it works fine.
Also as soon as you have these things I would be glad if you could paste it here: https://polymer.slack.com/messages/polymer-angular/
That's the place we usually discus

[2017-02-14 12:36] platosha commented on #59
@dispeakble note that `<style is="custom-style">` does not work in Angular templates with Angular v2.2+, due to the change discussed in #104. Please try that in your `index.html` document, if you haven’t yet.

[2017-02-14 12:37] ZeBigDuck commented on #2
Thank your for your answer @synarque.

Ok then the intent is not to use anymore shadow dom, and that's a great thing for overriding templates purpose (as css /deep/ is deprecated).

But the issue with template-anchor is still remaining. I tried to solve it but I'm pretty confused with renderer stuff...

[2017-02-14 12:41] dispeakble commented on #59
Yeah, @BorntraegerMarc ... you need to send me an invite for polimer.stack.com.

so the DOM inspector in chrome sees this in the first head tag
`<style>vaadin-grid[_ngcontent-pnn-19] {
    --vaadin-grid-row-cell : {
        background: red;
    }
}</style>`
Uppon inspection, clicking on the `<vaadin-grid/>` element the inspector pane shows the above code. so far so good. so why is it that the cell

[2017-02-14 12:48] BorntraegerMarc commented on #59
@dispeakble You can register yourself to the polymer slack.
Angular takes all your css code and puts them into the DOM. Then angular differenciates between your components by adding the `[_ngcontent-pnn-19]` attributes to the DOM. Angular does this because it does not really use shadow/shady DOM prior 2.2

[2017-02-14 12:58] platosha commented on #2
@ZeBigDuck can you provide a reproduction in a separate project or in plunkr? I was unable to reproduce the missing empty elements myself: the empty elements ended up in the dom, just like expected.

[2017-02-14 13:03] ZeBigDuck commented on #2
@platosha I'll try to do a plunkr this week.

[2017-02-14 13:57] dispeakble commented on #59
@BorntraegerMarc I cannot create a plunkr project at this time since my app is using the router and the plunkr doesn't support this at the moment. Also, there's too much cleanup to do. I'm using the angular-cli implementation found here [Vaadin Implementation Angular 2-polymer Webpack](https://vaadin.com/vaadin-documentation-portlet/elements/angular2-polymer/ng-cli-webpack.html).

I can't revert t

[2017-02-14 17:19] tallaxes commented on #59
@dispeakble @BorntraegerMarc The lack of `is="custom-style"` is the reason it does not work; if you put it in your `index.html` with `<style is="custom-style">` it should work fine, as @platosha mentioned. The requirement for `is="custom-style"` is a constraint of Polymer's custom properties shim. (It will also work fine if you switch to native CSS properties instead.) For styles defined in Angula

[2017-02-14 17:37] BorntraegerMarc commented on #59
@tallaxes Totally agree. I was just talking about how Angular handles normal CSS without `is="custom-style"` :)

[2017-02-14 17:39] jsertx commented on #130
@BorntraegerMarc, It's curious, because I did this way, but now it worked.
Many thanks!

[2017-02-14 17:39] #130 closed, assigned to nobody

[2017-02-15 07:25] dispeakble commented on #59
It works when I add the `<style is="custom-style">vaadin-grid{...}</style>` in the `<head/>` tag of my `index.html` file.

Thank you very much.

[2017-02-15 17:25] ryalman commented on #111
I put the WebComponentsReady listener directly into the main.ts. I tested it by putting a trivial combo-box and it worked.

Replace  `platformBrowserDynamic().bootstrapModule(AppModule);`
 with the below.

[code]

[2017-02-17 00:38] lumisoftusa commented on #126
Well guys finally I have found the issue and the issue is If we use dialog inside panel-header so it miss behave in iOS so what I did is to replace panel header with simple HTML based panel and navigation bar and everything is in good shape.

[2017-02-17 00:38] #126 closed, assigned to nobody

[2017-02-17 05:11] praveenpuglia opened #135 "Accept multiple component names in PolymerElement() construct ?"
While using it in my angular app I realized that I was having to a lot of PolymerElement() calls in my declarations and was wondering if there is a way to consolidate them.

[code]

Can we rather have something like this?

[code]

[2017-02-17 09:37] platosha commented on #135
Hi, thanks for asking. Currently there is no way of passing arrays.

As I think, we have to replace the `PolymerElement` function with something else anyway. Maybe we can solve this repetitive declaration issue at the same time with #86.

[2017-02-17 10:18] niveo commented on #135
angular: 2.1.2
angular-cli: 1.0.0-beta.21

[code]
[code]

[2017-02-17 14:40] MarkPieszak opened #136 "Angular-Polymer meetup 2/17/2017"
# 2/17/2017

#### Attended:
Alex, Anton, Wassim, Mark, Michael, Jai

# Topics:

- Currently held back at Polymer 1.(?) & Angular 2.2
  - Polymer 2 still only in preview (apis could drastically changed)
- Angular-Polymer-Renderer (was just a test repo) works with latest Angular (2.4.7)
  - Will be *merged* into 1 repo: Angular-Polymer

- **PolymerElement** might be removed temporarily until we can

[2017-02-17 15:25] MarkPieszak commented on #136
Moved to Wiki here: https://github.com/platosha/angular-polymer/wiki/Angular-Polymer-Meetup-2-17-2017

[2017-02-17 15:31] tallaxes commented on #136
The right name for what I referred to as ng-helper is `ng.probe`. It is helpful for debugging (e.g. see [here](https://juristr.com/blog/2016/02/debugging-angular2-console/)), but is also used by some other tooling, like Augury. Something about the way it was registering/wrapping the root renderer with debug version  ([around here](https://github.com/angular/angular/blob/master/modules/%40angular/p

[2017-02-17 15:49] MarkPieszak commented on #136
Updated! Thanks @tallaxes

[2017-02-19 11:39] praveenpuglia commented on #135
I like the solution but it forces me to load all three polymer elements in both the modules which generally isn't the case. In some modules i may require all three of them and in some just one of them.

This however gave me an idea to make this parameterized the following way.

[code]

and then...

[code]

I have not tested it yet. Awaiting comments.

[2017-02-20 22:40] BorntraegerMarc opened #137 "[innerHTML] not working when defining PolymerElement"
So there is a bug (?) when using angular-polymer lib: The html attribute `[innerHTML]` can't be used anymore. Take out the `PolymerElement('paper-icon-button')` line in `app.module.ts` and everything works as expected. Does anybody know why this happens?

Here is the proof:
app.module.ts:
[code]
app.component.ts:
[code]

[2017-02-21 12:55] MarkPieszak commented on #137
I'm not positive but I feel like it's probably a bug in an older version of Angular (that we're currently pinned to with everything).  Don't think there's anything in `PolymerElement()` that could cause it to stop working (?)

[2017-02-21 13:13] BorntraegerMarc commented on #137
@MarkPieszak Don't think it's an angular bug as it works perfectly if I take out `PolymerElement('paper-icon-button')`

Or do you think older angular versions somehow misbehave with `PolymerElement('paper-icon-button')`?

[2017-02-21 15:20] MarkPieszak commented on #137
My guess is it could be these lines:

https://github.com/platosha/angular-polymer/blob/master/src/polymer-element.ts#L45

[code]

They're overridded here with the ShadyDomAdapter, might be why.

[code]

[2017-02-22 09:22] undersail commented on #137
Does this PolymerElement still supported by Angular2.0? Why did I met this error:

Here is the code:
[code]

[2017-02-22 10:53] BorntraegerMarc commented on #137
@undersail Angular 2.0 until 2.1 is supported. I don't really see a mistake in your code. Maybe open up an own use?

[2017-02-23 02:46] undersail commented on #137
@BorntraegerMarc Thank you! But still don't know why...

[2017-02-23 04:24] MarkPieszak commented on #137
If you're using angular version higher than 2.1 you'll see the error because function calls aren't allowed there anymore. We are working on upgrading everything soon! It won't be a function anymore but hopefully we will have something working.

[2017-02-23 06:46] BorntraegerMarc commented on #137
@MarkPieszak I think you mean 2.2, right? Because I'm using 2.1 and don't see such an error

[2017-02-23 14:19] MarkPieszak commented on #137
2.2 there it is, sorry I forgot the exact number :+1:

[2017-02-28 10:08] platosha commented on #129
CircleCI is enabled, builds are failing because of dependency and test setup issues. I don’t have time to look deeper right now.

[2017-02-28 10:15] BorntraegerMarc commented on #129
Thanks. Will take a look.

[2017-02-28 11:22] BorntraegerMarc commented on #129
Sorry, I forgot @platosha: Could you enable SSH for the CI? So we could debug when something goes wrong... I don't have permissions

[2017-02-28 11:31] BorntraegerMarc commented on #129
And the tests don't run at the moment. Self assigned it to check again, once I have more time

[2017-03-06 07:30] BorntraegerMarc commented on #104
@platosha I'll sum up the problems I've had when trying out the branch `feature/renderer` here:

1. Tested with Angular 2.1.2 (and 2.4.8) with shady DOM and `webcomponents-lite` polyfill: direct polymer properties does not seem to work. So this: `<paper-avatar mini></paper-avatar>` seems to have no effect
2. iOS (safari and chrome) seems not to render correctly. Safari on OSX works fine.

[2017-03-08 10:38] malkomich commented on #123
I would like to contribute to this project.

Can anyone tell me how to begin? Any straightforward issue to start working on it?

[2017-03-10 18:09] platosha commented on #129
Got it working in `feature/renderer` by adding karma and making some setup changes.

[2017-03-10 18:09] #129 closed, assigned to BorntraegerMarc

[2017-03-13 09:42] freytagusu commented on #133
Any progress on this one? Still getting the error using @angular/cli rc1

[2017-03-17 12:44] ptech360 opened #139 "Angular 2, Problem in navigating from google chart to other component by click handler"
I have a problem in loading data when navigating from google chart to other component of the application. It is navigating but waiting for mouse move to load data on the html.

[2017-03-17 13:02] BorntraegerMarc commented on #139
@ptech360 could you provide some code that we could actually review this problem?

[2017-03-17 13:19] ptech360 commented on #139
I have a directive named *chart.directive.ts*
I am using it in a component named *home.component.ts* my project to draw
google charts. I used click event listener for navigating to other
component named *complaint.list.ts .*
it navigate easily but after navigating it wait for a mouse move to load
data on corresponding html page named complaint.list.html

On Fri, Mar 17, 2017 at 6:32 PM, Marc Bornt

[2017-03-17 13:24] BorntraegerMarc commented on #139
Can you provide a plunker or something? Because I'm not able to reproduce the problem

[2017-03-22 08:49] mmenik opened #140 "Error: Cannot find a differ supporting object [vaadin-combo-box]"
I created a small project to test the integration of Polymer in Angular2. When I select an item from the combo box gives me the errror "Can not find something to differ supporting object" but I can not understand what the reason.
Attach the test project

[angular2-polymer.zip](https://github.com/platosha/angular-polymer/files/860823/angular2-polymer.zip)

[2017-03-22 08:57] BorntraegerMarc commented on #140
@mmenik your project does not include a `bower.json`. I couldn't test it

[2017-03-22 11:27] mmenik commented on #140
Sorry for my mistake, i have attach the bower.json
[angular2-polymer.zip](https://github.com/platosha/angular-polymer/files/861212/angular2-polymer.zip)

[2017-03-22 11:45] BorntraegerMarc commented on #140
Hmm, seems like a problem with angular for me. Based on this: https://github.com/angular/angular/issues/6392

Does this help?

[2017-03-24 15:40] BorntraegerMarc opened #141 "Renderer does not work with direct attributes"
This does not work: `<paper-avatar directAttr>`

[2017-03-26 13:49] BorntraegerMarc commented on #141
Can be also reproduces like this:
Works not:
[code]

But this works:
[code]

[2017-03-27 16:26] BorntraegerMarc opened #143 "Renderer does not support styles inside angular component"
So, I just droped in the new renderer and got this (left is before and right is after):
![image](https://cloud.githubusercontent.com/assets/7549295/24365596/ce085580-1316-11e7-8e9c-9def80192bab.png)

So functionality is working perfectly but CSS is not the same. I noticed that the following doesn't work:
css:

[code]

html:

[code]

Here the `paper-item-body` will not have any of the css attribute

[2017-03-27 16:28] BorntraegerMarc opened #144 "Renderer folder is not copied when adding it as npm dependency"
Had the problem again, that if I installed the package with "@vaadin/angular2-polymer": "file:../angular-polymer", that the whole "renderer" folder was missing in the target project. Had to copy it over manually. Maybe a import is missing?

[2017-03-27 16:29] BorntraegerMarc commented on #141
Closed with https://github.com/platosha/angular-polymer/pull/142

[2017-03-27 16:29] #141 closed, assigned to platosha

[2017-03-27 16:29] BorntraegerMarc commented on #139
Closing until @ptech360 is providing more info.

[2017-03-27 16:29] #139 closed, assigned to nobody

[2017-03-27 16:30] BorntraegerMarc commented on #140
Closing until @mmenik is providing more feedback...

[2017-03-27 16:30] #140 closed, assigned to nobody

[2017-03-27 16:30] #136 closed, assigned to nobody

[2017-03-27 16:32] #117 closed, assigned to nobody

[2017-03-27 16:33] BorntraegerMarc commented on #85
Closing until feedback from @ythanaseelan is provided...

[2017-03-27 16:33] #85 closed, assigned to nobody

[2017-03-27 16:33] #94 closed, assigned to nobody

[2017-03-27 16:42] BorntraegerMarc commented on #54
I don't see the warnings anymore when building with webpack... If it pops up again -> Feel free to re open

[2017-03-27 16:42] #54 closed, assigned to nobody

[2017-03-28 07:42] #81 closed, assigned to nobody

[2017-03-30 23:27] bmodeprogrammer opened #146 "Is this compatible with angular 4.0.0?"
To test it, I only generated a project with angular-cli:

[code]

And give me this error:

    at Object.module.exports (polymer-element.js:23)
    at __webpack_require__ (bootstrap aba9557…:52)
    at Object.<anonymous> (index.js:2)
    at __webpack_require__ (bootstrap aba9557…:52)
    at Object.113 (app.component.ts:9)
    at __webpack_require__ (bootstrap aba9557…:52)
    at Object.105 (src as

[2017-03-31 02:39] rstpv commented on #146
No, the interoperability has been gone since Angular 2.2.0: https://github.com/platosha/angular-polymer/issues/104
They are actually working on making it compatible with 2.2.0, not sure if it will be compatible with angular 4 but as far as I saw in the angular changelog, RootRenderer was deprecated (RendererFactory2) so, it will probably need some changes to work with Angular 4.

[2017-03-31 08:37] bmodeprogrammer commented on #146
thank you, so I will close the issue.

[2017-03-31 08:37] #146 closed, assigned to nobody

[2017-04-10 13:08] platosha commented on #144
@BorntraegerMarc I've updated the package.json and .npmignore configs, should fix this. Please try installing with `feature/renderer` branch.

[2017-04-10 13:23] sarathsaleem opened #147 "How to get a build version of polymer components ?"
In order to work with _angular-cli_ , there is a suggestion to change the bower path to _assets/bower_components_. So this will work and all the bower components will be part of the build.

.bowerrc

[code]

But **ng build** just copies the whole assets folder and all the files, **bower_components**  folder itself is copied as it is. This will create a large size for the application. For a mobile

[2017-04-10 13:39] hotforfeature commented on #147
Keep in mind that when a browser (including mobile) is served the app, the entire bower_components folder is not served, only the individual imported files. So your actual app size in terms of data use may be lower than you realize.

At the moment though, I'm not aware of any tooling or task that's been created to build/concat/minify Polymer html imports within Angular. That's on everyone's mind,

[2017-04-10 13:49] sarathsaleem commented on #147
@hotforfeature Correct, the actual app loaded in the browser will be what it is required.

But the issue is, polymer components using server space and in mobile building, the app size actually matters.

[2017-04-10 13:59] platosha commented on #147
@sarathsaleem try `$ polymer build` from polymer-cli https://github.com/Polymer/polymer-cli#build. Given your index.html, it should combine all the HTML imports.

If not enough, using polymer-bundler directly with `--inline-styles --inline-css --strip-comments` arguments might help: https://github.com/Polymer/polymer-bundler

[2017-04-10 15:11] BorntraegerMarc commented on #147
@hotforfeature But one problem would still be that the web app would do individual reqeusts for every import right? So quite a lot if we are using http1
@platosha good suggestions will try this as well. This would solve the problem with the individual imports as well, right?

[2017-04-10 15:16] hotforfeature commented on #147
That's right, though there's quite a lot of HTTP2 support. Only IE11 on Windows 8/lower and Safari on OS X lower than 10.11 do not support it: http://caniuse.com/#feat=http2

The Polymer CLI can generate `bundled` and `unbundled` versions and they recommend serving an appropriate version based on browser HTTP2 support.

[2017-04-10 15:22] BorntraegerMarc commented on #147
@hotforfeature that is true. But we have an iOS app that access the app over `WKWebView`. That does not support http2  UPDATE: It does support http2 starting iOS 9

[2017-04-10 15:23] platosha commented on #147
@BorntraegerMarc not sure what is the problem with individual imports. `polymer-bundler` (and it’s shortcut `$ polymer build` as well) scans the given source.html and recursively combines all the html imports, so that in the output.html there are no html imports at all (just their contents).

[2017-04-10 15:27] BorntraegerMarc commented on #147
Sorry, wasn't clear enough @platosha. I meant individual http requests. But I think it would solve it. I'll try and get back at you

[2017-04-10 15:40] platosha commented on #143
WIP in branch https://github.com/platosha/angular-polymer/tree/feature/renderer-styling

[2017-04-10 20:35] BorntraegerMarc commented on #147
Hmm, @platosha I'm getting an error. This is how I do the build:

1. run `polymer build --entrypoint index.html`
2. manually copy over the webpack generated `bundle.js`

this is the error I get:
`zone.js?fad3:25 Uncaught Error: Zone already loaded.`
`Unhandled Promise rejection: Zone.js has detected that ZoneAwarePromise `(window|global).Promise` has been overwritten.`
`Error: Uncaught (in promise

[2017-04-12 06:05] BorntraegerMarc commented on #147
Ah, OK I think I fixed the error. But the app still does 140 requests. But I'll open a issue over at the polymer build project

[2017-04-12 06:09] BorntraegerMarc commented on #147
Ah, no I just copied over the wrong JS file. Sorry, the error still persists...

[2017-04-12 06:17] BorntraegerMarc commented on #147
yeah @platosha after running `ng build` and then `polymer build --entrypoint index.html` it somehow breaks the source files. So I get the error after the second command. Because the polymer build somehow copies/edits the generated `bundle.js` file. So the error certainly is because of the angular/polymer interaction

[2017-04-12 07:33] platosha commented on #147
@BorntraegerMarc could you try:
- move all html imports from index.html to elements.html
- `polymer build --entrypoint elements.html`
- import elements.html in your index.html?

Hope that isolates side-effects of `polymer build` to not affect angular’s index.html that much.

[2017-04-12 12:52] BorntraegerMarc commented on #147
@platosha That did the trick for the 140 requests. Now I only see 9 requests left. But I still see the same error.
Also from the network tab I see that the angular `bundle.js` is imported twice. Do you have the same problem?

[2017-04-12 12:55] BorntraegerMarc commented on #147
![image](https://cloud.githubusercontent.com/assets/7549295/24958542/ecd605d6-1f8f-11e7-862c-aa5bfea0b5e6.png)

and also interesting:
If I change in the `index.html` the one line:
`<link rel="import" href="./build/bundled/elements.html">` to `<link rel="import" href="./build/unbundled/elements.html">`

Then it works! I guess the problem is with `shared-bundle.html` But I don't really see from wher

[2017-04-13 10:44] BorntraegerMarc commented on #147
@platosha and one additional error came up when using the `paper-icon-button`:
`web-animations-next-lite.min.js:2 Uncaught TypeError: Cannot assign to read only property 'target' of object '#<AnimationPlaybackEvent>'
    at e.Animation.<anonymous> (web-animations-next-lite.min.js:2)`

I never saw something like this also googling did not really bring me any further...

UPDATE: The error was caused

[2017-04-14 06:44] bunny1985 opened #148 "documentation link not working"
https://github.com/platosha/angular-polymer/blob/master/docs/overview.adoc#quick-start

"See the tutorial for complete instructions how to set up your ..." on the bottom of the page links to
https://vaadin.com/docs/-/part/elements/angular2-polymer/tutorial-index.html
which results with 404

[2017-04-19 20:00] BorntraegerMarc commented on #147
To clarify: bundled version is **not** working but unbundled version is working fine.

Working on something now to solve https://github.com/Polymer/polymer-cli/issues/283
@platosha or @hotforfeature did you manage to solve the "add hash to file" problem when running the polymer build?

[2017-04-21 07:22] ghost commented on #133
Any progress on this issue . Even I am getting same error .

These are the versions installed for my app
@angular/cli: 1.0.0
node: 6.10.2
os: win32 x64
@angular/common: 4.0.3
@angular/compiler: 4.0.3
@angular/core: 4.0.3
@angular/forms: 4.0.3
@angular/http: 4.0.3
@angular/platform-browser: 4.0.3
@angular/platform-browser-dynamic: 4.0.3
@angular/router: 4.0.3
@angular/cli: 1.0.0
@angular/compiler-c

[2017-04-21 07:25] BorntraegerMarc commented on #133
@venky106 we're working on a solution for Angular 2.2+ > 4 at the moment. Should be released soon. If you're​ interested to use angular 4+ with polymer 2+ check this lib out: https://github.com/hotforfeature/origami

[2017-04-21 09:23] ghost commented on #133
I am so glad to see the quick response . I will check it out.

[2017-04-23 17:33] getnsv opened #149 "ng4 Quickstart with @vaadin/angular2-polymer - gives error - BrowserDomAdapter"
Hi platosha,

Eager to know when @vaadin/angular2-polymer will be upgraded to support polymer 1 and/or polymer 2. When I build @vaadin with custom fixes for common, core, platform-browser and platform-browser-dynamic, it gives me  unable to get BrowserDomAdapter when launched in browser.

Please can you let know when @vaadin/angular2-polymer will get upgraded, or what else I need to customize in t

[2017-04-23 18:34] BorntraegerMarc commented on #149
Try https://github.com/hotforfeature/origami if you have angular 4+ and polymer 2+

[2017-04-24 05:50] BorntraegerMarc commented on #147
Another update: If you configure your own `polymer-build` it works fine. Something like this: https://github.com/PolymerElements/generator-polymer-init-custom-build/tree/master/generators/app

[2017-04-24 17:52] getnsv commented on #149
Thanks Marc for the quick response, but it seems like 'origami' gives only partial support and only few polymer elements.
To build a full-fledged mature responsive application you need the rich features of many polymer elements. So is there a roadmap plan to achieve ng4 +polymer 2+ integration with more coverage?

[2017-04-24 17:55] BorntraegerMarc commented on #149
@getnsv what do you mean with partial support?

[2017-04-24 18:01] hotforfeature commented on #149
@getnsv Origami supports all Polymer 2 elements and native custom elements that follow the v1 spec. Out of the box, it should support every single Google #2.0 preview element (far from a few!).

If there's a Polymer 2 feature missing, open an issue on the repo and I'll look at it.

Keep in mind that Polymer 1 elements may not be compatible with Polymer 2 by default. They must be upgraded to hybrid

[2017-04-27 16:12] flpms commented on #149
I think this issue is related. https://github.com/platosha/angular-polymer/issues/146
You've know when this package will be compatible with angular 4?

[2017-05-19 08:29] platosha opened #151 "Deprecate PolymerElement function"
As soon as `PolymerRenderer` is ready, `PolymerElement` method should be deprecated.

- Add /** @deprecated */ JSdoc comment
- Add console warning when it is used
- Document migration to `PolymerRenderer`

[2017-05-19 09:27] #143 closed, assigned to platosha

[2017-05-19 09:28] #144 closed, assigned to platosha

[2017-05-19 09:33] platosha opened #152 "Support Angular 4.x in the Renderer"
The Renderer APIs have changed in Angular 4, so we have to update Polymer Renderer accordingly.

AFAIK It should be possible to implement the new renderer APIs without breaking compatibility with Angular 2.x.

[2017-05-19 09:40] BorntraegerMarc commented on #152
You sure that you want to implement 4.0 support? I see this library more for Angular 2.X support...
Or is the goal to achieve Angular + Polymer 1.X support?

[2017-05-19 09:56] platosha commented on #152
Why not? This should be pretty straightforward to do. And yes, it would allow smoother Angular upgrades for those who use Polymer 1.x elements.

The essential goal is to support latest Angular and Polymer with smooth migration between major releases, when possible.

I am not completely sure if we want to support Polymer 2.x with the renderer though. Remains to be seen if we want to put more featur

[2017-05-19 11:21] BorntraegerMarc commented on #152
With the firsr part I completely agree - but why do you want to build a library doing essentially the same as https://github.com/hotforfeature/origami?

[2017-05-19 13:31] platosha commented on #152
Good question. I don’t have much reasoning behind, except for serving the users who need this library to be maintained and upgraded.

At the same time, I was expecting that for Polymer 2 we can drop some glue code from angular-polymer, making maintenance easier. Not so sure anymore about it, though.

[2017-05-19 13:42] platosha commented on #148
Fixed, thanks!

[2017-05-19 13:42] #148 closed, assigned to nobody

[2017-05-19 15:00] rjcorwin commented on #123
@manekinekko Unfortunately that example is out of date.

- https://github.com/webcomponents/angular-interop/issues/3
- https://github.com/webcomponents/angular-interop/issues/4

I think they need to upgrade to Polymer 2 and base the example on Angular CLI.

[2017-05-19 15:03] BorntraegerMarc commented on #152
@platosha as I see this library it would be more for angular 2+ and polymer 1.X support. Not really polymer 2+ as that part is already solved (quite nicely, actually). My suggestion would be to focus purely on polymer 1 support and get it to 100%...

I think there are still quite a few things missing like AoT support, etc.

But that is just my opinion...

[2017-05-22 07:05] platosha commented on #152
@BorntraegerMarc Agree. I do not say that we don’t have to fix missing things, like AoT support. I still consider these issues as first priority to solve.

[2017-06-01 13:23] #104 closed, assigned to platosha

[2017-06-08 18:32] rimvydas-urbonas opened #154 "Fix npm version"
Hello,
guys please update latest version 1.1 in npm.

[2017-06-09 11:48] platosha commented on #154
Not sure if I get what you mean. v1.1 is here: https://www.npmjs.com/package/angular-polymer

[2017-06-09 13:33] hotforfeature commented on #154
He may be referring to https://www.npmjs.com/package/@vaadin/angular2-polymer. I'm assuming since the GitHub repo redirects here that this package has succeeded it? It's still the top result when searching "angular 2 polymer" on npm and gets hundreds of downloads per week. It may not be obvious that users are downloading the wrong package.

[2017-06-09 13:36] rimvydas-urbonas commented on #154
Hes I was using https://www.npmjs.com/package/@vaadin/angular2-polyme package.

From: Andrew Mitchell [mailto:notifications@github.com]
Sent: 2017 m. birželio 9 d. 16:34
To: platosha/angular-polymer <angular-polymer@noreply.github.com>
Cc: rimvydas-urbonas <rimvydas.urbonas@live.com>; Author <author@noreply.github.com>
Subject: Re: [platosha/angular-polymer] Fix npm version (#154)

He may be refer

[2018-03-07 13:08] #135 closed, assigned to nobody

[2018-09-07 11:58] #46 closed, assigned to nobody

[2020-05-26 05:33] #128 closed, assigned to BorntraegerMarc

[2020-11-30 18:22] #100 closed, assigned to nobody

[2020-11-30 18:56] #26 closed, assigned to nobody